<tr>
    <td><%= table_disease.clasification_disease %></td>

    <td><%= link_to t('common.edit'), edit_table_disease_path(table_disease), class: 'btn btn-sm btn-primary'  %></td>
    <td><%= link_to t('common.edit_enfermedades'), detail_diseases_path(table_disease), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>