<% @firms.each do |firm| %>
    <% if firm.legal_representative == 1 %>
        <div class="row"> 
            <div class="col-11">
                <div>&nbsp;</div>
                <% if firm.authorize_firm == 1 %>
                   <% if firm.user.firm.attached? %>
                      <% if firm.user.firm.image? %> 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag firm.user.firm, class: "firma" %>
                           <p>Firma Representante Legal: ________________________________</p>
                      <% end %>
                    <% end %>
                <% else %>    
                    <p>Firma Representante Legal: ________________________________</p>
                <% end %>     
            </div>
        </div>
        <br>
    <% end %>    
<% end %>