<% @firms.each do |firm| %>
    <% if firm.legal_representative == 1 %>
        <div class="row"> 
            <div class="col-11">
                <div>&nbsp;</div>
                <% if firm.authorize_firm == 1 %>
                    <% if firm.user.firm.attached? %>
                        <% if firm.user.firm.image? %> 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag firm.user.firm, class: "firma" %>
                            <p><strong>Firma: ________________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha:&nbsp;<%= firm.date_authorize_firm %></strong></p>
                        <% end %>
                    <% end %>
                <% else %>    
                    <p><strong>Firma: ________________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha:&nbsp;__________</strong></p>
                <% end %>     
            </div>
        </div>
    <% end %>    
<% end %>