<br>
<div class="container col-11">
        <div class="d-flex"> 
            <div class="container">
               <h2 class="display-5"> Contenido Multimedia</h2>
            </div> 
        </div>

        <table class="table table-hover">
            <tbody> 
                <% @contents.each do |content| %> 
                <tr> 
                    <td>Clasificación:<br>
                        <%= content.clasification %><br>
                        Título:<br>
                        <%= content.title %><br>
                    </td>
                    <td>    
                        <section class="video-embed" style="width:200px; height: 200px;" >
                            <iframe  width="300" height="200" src="<%= content.link %>" title="QUE ES SST" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                            </iframe>
                        </section> 
                    </td>
                 </tr>
             <% end %>     
        </tbody>      
    </table>        
</div>
