<div class="container col-11 card p-5"> 
    <div align="left"; class="container col-12">
        <a class="navbar-brand" href="/">
            <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
        </a>
    </div>

    <div class="col-11 text-center">
            <strong><h5>POLÍTICA DE PROTECCIÓN DE DATOS</h5></strong>
    </div>
    <div></br><div>
    <div>
            <strong><h6>CONDICIONES GENERALES</h6></strong>
    </div>

    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La Ley Estatutaria 1581 del 17 de octubre de 2012 establece las condiciones mínimas para realizar el tratamiento legítimo de la información de cualquier persona natural. Tanto los literales k) del artículo 17 como f) del artículo 18 de dicha ley obliga a los responsables y encargados del tratamiento de datos personales a “adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la presente ley y en especial, para la atención de consultas y reclamos.”</p>
                <p>El artículo 25 de la misma ley, establece que las políticas de tratamiento de datos son de obligatorio cumplimiento y que su desconocimiento acarreará sanciones. Dichas políticas no pueden garantizar un nivel de tratamiento inferior al establecido en la ley 1581 de 2012. El capítulo IH del Decreto 1377 del 27 de junio de 2013 reglamenta algunos aspectos relacionados con el contenido y requisitos de las Políticas de Tratamiento de Información y los Avisos de Privacidad.</p>
                <p><strong>CONESST</strong> está comprometida con el respeto de los derechos de sus usuarios y cualquier persona en general. Por eso, adopta la siguiente política de tratamiento de información de obligatoria aplicación en todas las actividades que involucre el tratamiento de datos personales.</p>
                <div></br><div>
                <p><strong>Definiciones</strong></p>
                <p>
                    <ul>
                        <li><strong>Usuario: </strong>Persona natural cuyos datos personales sean objeto de Tratamiento de Datos.</li>
                        <li><strong>Aplicación web: </strong>Programa de software que se ejecuta en un navegador, encargado de la administración del sistema de seguridad y salud. </li>
                        <li><strong>Autorización: </strong> Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales.</li>
                        <li><strong>Aviso de privacidad: </strong>Comunicación verbal o escrita generada por el responsable, dirigida al USUARIO para el tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del tratamiento que se pretende dar a los datos personales.</li>
                        <li><strong>Base de Datos: </strong>Conjunto organizado de datos personales que sea objeto de Tratamiento.</li>
                        <li><strong>Dato personal: </strong> Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.</li>
                        <li><strong>Encargado del Tratamiento: </strong>Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.</li>
                        <li><strong>Responsable del Tratamiento: </strong>Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos.</li>
                        <li><strong>Tratamiento: </strong>Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.</li>
                        <li><strong>Dato Público: </strong>Significa aquel dato que no es semiprivado, privado, ni sensible. Son considerados datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar ubicados en registros públicos, documentos públicos, gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva.</li>
                        <li><strong>Dato Sensible: </strong>Significa aquel dato que afecta la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.</li>
                        <li><strong>Política: </strong>Se refiere a este documento.</li>
                        <li><strong>Transferencia: </strong>Significa aquel proceso en que el Responsable de los Datos Personales envía/comunica los Datos Personales a un receptor que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera de Colombia.</li>
                        <li><strong>SIC: </strong>Es la Superintendencia de Industria y Comercio, Autoridad Colombiana de Protección de Datos Personales.</li>
                    </ul>
                </p>
                <p><strong>Responsable del Tratamiento</strong></p>
                <p>El responsable del tratamiento de los datos personales de los USUARIOS estará a cargo de <strong>CONESST</strong>.</p>
                <p><strong>CONESST</strong> – Conexiones Estratégicas en Seguridad y Salud en el Trabajo está identificada con matrícula de persona natural N° 1.039.454.133, con domicilio principal en el municipio de Sabaneta - Antioquia, con dirección en la Calle 73 sur # 46 CC 70, correo electrónico: conexionestrategicasst@gmail.com, teléfono: 3012485111.</p>
                <p></p>
                <p></p>
                <p><strong>Normatividad</strong></p>
                <p>La Política de Privacidad se rige bajo el siguiente marco normativo:</p>
                <p>
                    <ul>
                        <li><strong>Ley 1581 de 2012: </strong>Establece el Régimen General de Protección de Datos Personales en Colombia.</li>
                        <li><strong>Decreto 1377 de 2013: </strong>Regula la implementación de la Ley 1581 y los procedimientos para la recolección, tratamiento y uso de datos personales.</li>
                   </ul>
                 </p>
                <p></p>
                <p><strong>Política de tratamiento de datos personales</strong></p>
                <p>La finalidad del tratamiento de los datos personales es el desarrollo de la actividad propia de <strong>CONESST</strong> la cual es el diagnóstico, diseño, implementación y seguimiento del Sistema de Gestión de Seguridad y Salud en el Trabajo de sus empresas usuarias.</p>
                <p>Al ingresar al software <strong>CONESST</strong> y suministrar sus datos personales el USUARIO autoriza lo siguiente:</p>
                <p>
                    <ul>
                        <li>Envío de información concerniente al Sistema de Gestión de Seguridad y Salud en el Trabajo o para el funcionamiento del software a través de correo electrónico, mensajes de texto o llamada telefónica proporcionado por el USUARIO.</li>
                        <li>Generación de informes estadísticos sobre datos públicos o sensibles suministrados por el USUARIO, dichos informes estarán disponibles en el software tanto para el USUARIO como para la EMPRESA en la cual labora.</li>
                        <li>Comunicación a través de formularios entre el USUARIO y la EMPRESA para la cual labora.</li>
                        <li>Conocer, almacenar y procesar toda la información suministrada por los titulares en una o varias bases de datos, en el formato que se estime más conveniente.</li>
                        <li>Efectuar encuestas y evaluaciones que el Sistema de Gestión de Seguridad y Salud en el Trabajo requiera, tales como perfil sociodemográfico y evaluaciones de capacitaciones.</li>
                        <li>Gestionar el agendamiento de reuniones, capacitaciones, auditorías, entre otras.</li>
                        <li>Gestión integral de los exámenes médicos ocupacionales y seguimiento a las recomendaciones emitidas por el profesional de la salud.</li>
                        <li>Información de salud: diagnósticos médicos, historiales clínicos, tratamientos, resultados de exámenes médicos, información sobre enfermedades o discapacidades.</li>
                        <li>Investigaciones de incidentes, accidentes y enfermedades laborales, así como el análisis estadístico de ausentismo y demás indicadores del Sistema de Gestión de Seguridad y Salud en el Trabajo.</li>
                        <li>Gestionar trámites (solicitudes, quejas, reclamos) en el ámbito de la Seguridad y Salud en el Trabajo.</li>
                        <li>Permitir el ejercicio de los derechos de los USUARIOS de manera eficiente y de conformidad con los procedimientos establecidos en la Ley 1581 de 2012, y demás normas vigentes.</li>
                        <li>Mantener actualizados los datos y la información relevante de los USUARIOS que consta en las bases de datos.</li>
                        <li>Ordenar, clasificar o separar la información suministrada por los USUARIOS de datos.</li>
                   </ul>
                </p>
                <p><strong>Derechos de los Usuarios</strong></p>
                <p>Según la Ley 1581 de 2012, los titulares de los datos personales tienen los siguientes derechos:</p>
                <p>
                    <ul>
                        <li><strong>Acceder</strong> a su información personal. </li>
                        <li><strong>Rectificar</strong> o actualizar sus datos cuando sean incorrectos. </li>
                        <li><strong>Solicitar</strong> la eliminación de sus datos cuando no sean necesarios</li>
                        <li><strong>Revocar</strong> el consentimiento para el tratamiento de sus datos.</li>
                   </ul>
                </p>
                <p>Para ejercer estos derechos, los usuarios pueden contactarnos a través del correo conexionestrategicasst@gmail.com</p>
                <p></p>
                <p><strong>Finalidades del Tratamiento de los Datos Personales de los USUARIOS</strong></p>
                <p>
                    <ul>
                        <li>Prestar servicios de diagnóstico, diseño, implementación y seguimiento del Sistema de Gestión de Seguridad y Salud en el Trabajo.</li>
                        <li>Almacenar los datos personales recolectados, con el fin de llevar un registro histórico de los USUARIOS.</li>
                        <li>Conocer, almacenar y procesar toda la información suministrada por los USUARIOS en una o varias bases de datos, en el formato que <strong>CONESST</strong> estime más conveniente.</li>
                        <li>Contactar a los USUARIOS para el envío de información referente a la actividad de <strong>CONESST</strong>.</li>
                        <li>Creación de cuentas y perfiles, así como su administración y gestión en plataformas o páginas web administradas por el Responsable.</li>
                        <li>Resolver las peticiones, quejas y reclamos de los usuarios, emitir las respuestas correspondientes y oportunas, y permitir el ejercicio de sus derechos como Titular de los Datos Personales.</li>
                   </ul>
                </p>
                <p></p>
                <p><strong>Protección de Datos Personales</strong></p>
                <p>En cumplimiento de la Ley 1581 de 2012, <strong>CONESST</strong> implementa medidas de seguridad para proteger la información personal de accesos no autorizados, alteraciones o divulgaciones indebidas.</p>
                <p>La información personal proporcionada por el Usuario está asegurada por un usuario y una clave de acceso que solo él conoce. Por tanto, es el único responsable de mantener en secreto su clave.</p>
                <p><strong>CONESST</strong> se compromete a no acceder ni pretender conocer dicha clave. Debido a que ninguna transmisión por Internet es absolutamente segura ni puede garantizarse dicho extremo, el Usuario asume el hipotético riesgo que ello implica, el cual acepta y conoce.</p>
                <p><strong>CONESST</strong> no se responsabiliza por cualquier consecuencia derivada del ingreso indebido de terceros a la base de datos y/o por alguna falla técnica en el funcionamiento y/o conservación de datos en el software en cualquiera de los menús de su página web o aplicaciones móviles.</p>
                <p><strong>CONESST</strong> ha adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, instalando las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos facilitados.</p>
                <p></p>
                <p><strong>Autorización</strong></p>
                <p>El contenido de la autorización será el siguiente:</p>
                <p><strong>CONESST</strong> recibirá la autorización para el tratamiento de datos personales mediante documento escrito o a través de la aplicación web. Para ello el titular podrá dar su consentimiento de forma escrita, verbal o por conductas inequívocas.</p>
                <p>El titular manifiesta haber leído la Política de Privacidad de <strong>CONESST</strong>. En consecuencia reconoce haber sido informado acerca de las finalidades específicas del tratamiento y otorga su autorización expresa para el tratamiento de sus datos personales</p>
                <p>Para los titulares quienes opten por dar la autorización a través de la aplicación, su consentimiento expreso se dará en el momento en que aceptan esta Política de privacidad y protección de datos personales. Este acto será considerado una conducta inequívoca suficiente para concluir de forma razonable que la autorización fue expresamente otorgada la cual se encuentra en la página de ingreso de la aplicación web.</p>
                <p></p>
                <p><strong>Vigencia de las bases de datos:</strong></p>
                <p>Los Datos Personales que serán recolectados y en general tratados por <strong>CONESST</strong> permanecerán en las bases de datos de <strong>CONESST</strong> durante el tiempo en que los Datos Personales cumplan con las finalidades expuestas en la presente Política. Una vez se cumplan esas finalidades y siempre que no exista un deber legal o contractual de conservar la información, los datos personales serán eliminados de nuestras bases de datos.</p>
                <p></p>
                <p><strong>Uso de Cookies</strong></p>
                <p><strong>CONESST</strong> podrá utilizar cookies y otras tecnologías de identificación en las plataformas digitales que administra y opera, en su página web, comunicaciones electrónicas, anuncios, publicidad, entre otros servicios en línea, con las siguientes finalidades: autenticación de usuarios, recordar las preferencias y la configuración del usuario, analizar el tráfico del sitio y las tendencias, para la comprensión de los comportamientos e intereses en línea de las personas que interactúan con los servicios en línea ofrecidos por <strong>CONESST</strong>, y en general para las finalidades señaladas en esta Política.</p>
                <p>El usuario puede aceptar o rechazar el uso de cookies desde la configuración de su navegador.</p>
                <p></p>
                <p><strong>Enlaces a Terceros</strong></p>
                <p>Nuestra aplicación web puede contener enlaces a otros sitios de interés. Una vez que el usuario abandona nuestra página, <strong>CONESST</strong> no es responsable de la protección de su información en dichos sitios externos.</p>
                <p></p>
                <p><strong>Cambios en la Política de Privacidad</strong></p>
                <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta página con la fecha de actualización correspondiente.</p>    
                <p>Si tiene alguna pregunta sobre esta política o el tratamiento de sus datos personales, puede contactarnos en: conexionestrategicasst@gmail.com.</p>
                <p></p>
                <div></br><div>
                <p><strong>2- CONDICIONES DE USO</strong> </p>
                <p>Modificaciones a las condiciones de uso:</p>
                <p>Estas Condiciones de uso fueron actualizadas por última vez el 26 de junio de 2025.</p>
                <p></p>
                <p><strong>Aceptación de las condiciones de uso</strong></p>
                <p>Los usuarios que acceden a la plicación web <strong>CONESST</strong> lo hacen bajo su total responsabilidad y de manera voluntaria, por tanto, acepta y reconoce que ha revisado y que está de acuerdo con la Política de Privacidad, en lo que en Derecho corresponda. Será responsabilidad del Usuario la lectura y acatamiento de la Política de Privacidad, cada vez que los utilice.</p>
                <p>CONESST se reserva el derecho de revisar la Política de Privacidad y las Condiciones de Uso cuando lo considere necesario sin previo aviso para el USUARIO. Será responsabilidad del USUARIO conocer y aceptar la Política de Privacidad y condiciones de uso cada vez que visite la aplicación web.</p>
                <p></p>
                <p><strong>Derechos de autor</strong></p>
                <p>La aplicación web es propiedad de <strong>CONESST</strong>, está PROHIBIDA su reproducción total o parcial, su traducción, inclusión, transmisión, almacenamiento o manipulación sin autorización previa y escrita de CONESST. </p>
                <p>Los textos y elementos gráficos que constituyen la aplicación web, así como su presentación y montaje, son titularidad exclusiva de <strong>CONESST</strong> o ésta ostenta los derechos de explotación necesarios. Sin perjuicio de lo anterior, los nombres comerciales, marcas o signos distintivos que aparecen o a los que se hace alusión en la aplicación web, pertenecen a sus respectivos propietarios y se encuentran protegidos por la legislación vigente al respecto</p>
                <p></p>
                <div></br><div>
                <p><strong>3- AVISO DE PRIVACIDAD</strong></p>
                <p><strong>Modificaciones aviso de privacidad:</strong></p>
                <p>Aviso de privacidad fue actualizado por última vez el 26 de junio de 2025.</p>
                <p></p>
                <p> <strong>CONESST</strong> se compromete a proteger la privacidad de sus usuarios y clientes. Este aviso de privacidad describe cómo recopilamos, usamos y protegemos la información que obtenemos a través de nuestra aplicación web. Al utilizar nuestra plicación web, usted acepta las prácticas descritas en este aviso.</p>
                <p><strong>Información que recopilamos: </strong>Recopilamos información personal que usted proporciona voluntariamente, como nombre, dirección, correo electrónico, número de teléfono, entre otros, cuando se registra en nuestro aplicación web o es suministrada por diligenciamiento de encuestas, listas de asistencia, formularios o datos proporcionados por su Empresa.</p>
                <p>De igual manera, recopilamos información personal del representante legal y de la empresa, la cual proporciona voluntariamente en el momento de establecer contrato o relación comercial.</p>
                <p>Adicionalmente se puede recibir a través de cookies como la dirección IP, tipo de navegador.</p>
                <p><strong>Uso de la información, sus derechos y seguridad se encuentran detallados en el documento Política de privacidad y protección de datos.</strong></p>
                <p><strong>Compartir de la información: </strong>No compartimos su información personal con terceros, excepto cuando sea necesario para cumplir con la ley, proteger nuestros derechos o en caso de fusión o adquisición de la empresa.</p>
                <p><strong>Cambios en el aviso de privacidad: </strong>Nos reservamos el derecho de actualizar este aviso de privacidad en cualquier momento. Cualquier cambio será publicado en esta página con la fecha de actualización correspondiente.</p>
                <p><strong>Contacto: </strong>Si tiene alguna pregunta o inquietud sobre este aviso de privacidad o nuestras prácticas de privacidad, contáctenos al correo conexionestrategicasst@gmail.com</p>
            </td>
        </tr>
    </table>
    <div></br><div>
</div>
