<tr>
    <td><%= pension_fund.id %></td>
    <td><%= pension_fund.fund %></td>
    <td><%= pension_fund.code_fund %></td>

    <td><%= link_to t('common.edit'), edit_pension_fund_path(pension_fund), class: 'btn btn-sm btn-primary'  %></td>
</tr>