<tr>
    <td><%= occupational_risk_manager.name %></td>
    <td><%= occupational_risk_manager.code %></td>
    <td><%= occupational_risk_manager.label_condition %></td>

    <td><%= link_to t('common.edit'), edit_occupational_risk_manager_path(occupational_risk_manager), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>