<h1>Cambio de clave</h1>

<p>
  Señor(a): <%= @username %> su clave fue cambiada satisfactoriamente, su nueva clave temporal es: <%= @clave %>
</p>

<p>
  Por favor recuerde realizar el cambio de clave en el aplicativo.  Gracias!!!
</p>