
<p>
    Estimado(a) Señor(a): <%= @username %>,
</p>

<p>
  Se envía compromiso según acta de reunión:
</p>
</br>
<p>  
  <strong>Fecha acordada para el compromiso:</strong> <%= @fechaacor %></br>
  <strong>Compromiso:</strong> <%= @compromiso %></br>
</p>

<p>
    Saludos cordiales!
</p>
