<br>
<div class="container col-11 card p-5">
    <%= form_for @moto_checklist do |f| %>
       <div class="row">
          <div class="form-group">
            <h5><%= f.label :"Adjuntar_Archivos:", style: "display: block" %></h5>
            <%= f.file_field :moto_files, multiple: true %>

            <%= f.submit 'Subir Archivos', class: 'btn btn-primary' %>
          </div> 
        </div>
    <% end %>
    <br> 
</div>  
<br>
