<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    
    <div>
        <strong>1. OBJETIVO</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>Establecer los pasos y acciones a seguir durante la investigación de incidentes o accidentes de trabajo ocurridos en la empresa, con el fin de recopilar la información sobre las causas de origen y así mismo tomar las medidas correctivas, preventivas y de mejora necesarias.</p>
    </div> 
    <div><br></div>
    <div>
        <strong>2. ALCANCE</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>Inicia con la recepción del informe sobre el accidente o incidente de trabajo y finaliza con la presentación del informe final del plan de acción al COPASST, aplica para todas las investigaciones de los accidentes e incidentes de trabajo ocurridos en la empresa.</p>
    </div> 
    <div><br></div>
    <div>
        <strong>3. RESPONSABLES</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>Responsable – SG-SST (acompañamiento asesor externo)</p>
        <p>Comité Paritario de Seguridad y Salud en el Trabajo.</p>
        <p>Jefes inmediatos.</p>
    </div> 
    <div><br></div>
    <div>
        <strong>4. DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p><strong>Accidente de trabajo:</strong></p>
        <p>
            <ul>
                <li>Es accidente de trabajo todo suceso repentino que sobrevenga por causa o con ocasión del trabajo, y que produzca en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte.</li>
                <li>Es también accidente de trabajo aquel que se produce durante la ejecución de órdenes del empleador, o contratante durante la ejecución de una labor bajo su autoridad, aún fuera del lugar y horas de trabajo.</li>
                <li>Igualmente se considera accidente de trabajo el que se produzca durante el traslado de los trabajadores o contratistas desde su residencia a los lugares de trabajo o viceversa, cuando el transporte lo suministre el empleador.</li>
                <li>También se considerará como accidente de trabajo el ocurrido durante el ejercicio de la función sindical aunque el trabajador se encuentre en permiso sindical siempre que el accidente se produzca en cumplimiento de dicha función.</li>
                <li>De igual forma se considera accidente de trabajo el que se produzca por la ejecución de actividades recreativas, deportivas o culturales, cuando se actúe por cuenta o en representación del empleador o de la empresa usuaria cuando se trate de trabajadores de empresas de servicios temporales que se encuentren en misión.</li>
            </ul>
        </p>
        <p><strong>Accidente grave:</strong></p>
        <p>
            <ul>
                <li>Aquel que trae como consecuencia amputación de cualquier segmento corporal; fractura de huesos largos (fémur, tibia, peroné, húmero, radio y cúbito); trauma craneoencefálico; quemaduras de segundo y tercer grado; lesiones severas de mano, tales como aplastamiento o quemaduras; lesiones severas de columna vertebral con compromiso de médula espinal; lesiones oculares que comprometan la agudeza o el campo visual o lesiones que comprometan la capacidad auditiva.</li>
            </ul>
        </p>
        <p><strong>Agente del accidente:</strong></p>
        <p>
            <ul>
                <li>Se refiere al objeto, sustancia, exposición o movimiento del cuerpo que directamente produjo la lesión. Ejemplos: máquina troqueladora, escalera, caja, sustancias químicas, fuego, etc.</li>
            </ul>
        </p>
        <p><strong>Aportantes:</strong></p>
        <p>
            <ul>
                <li>Empleadores públicos y privados, contratantes de personal bajo modalidad de contrato civil, comercial o administrativo; a las organizaciones de economía solidaria y del sector cooperativo, a las agremiaciones u asociaciones autorizadas para realizar la afiliación colectiva de trabajadores independientes al Sistema de Seguridad Social Integral.</li>
            </ul>
        </p>
        <p><strong>Causas básicas:</strong></p>
        <p>
            <ul>
                <li>Causas reales que se manifiestan detrás de los síntomas; razones por las cuales ocurren los actos y condiciones subestándares o inseguros; factores que una vez identificados permiten un control administrativo significativo. Las causas básicas ayudan a explicar por qué se cometen actos subestándares o inseguros y por qué existen condiciones subestándares o inseguras.</li>
            </ul>
        </p>
        <p><strong>Causas inmediatas:</strong></p>
        <p>
            <ul>
                <li>Circunstancias que se presentan justamente antes del contacto; por lo general son observables o se hacen sentir. Se clasifican en actos subestándares o actos inseguros (comportamientos que podrían dar paso a la ocurrencia de un accidente o incidente) y condiciones subestándares o condiciones inseguras (circunstancias que podrían dar paso a la ocurrencia de un accidente o incidente).</li>
            </ul>
        </p>
        <p><strong>FURAT: </strong></p>
        <p>
            <ul>
                <li>Formato único de accidente de trabajo.</li>
            </ul>
        </p>
        <p><strong>Incidente: </strong></p>
        <p>
            <ul>
                <li>Evento(s) relacionados con el trabajo que dan lugar o tienen el potencial de conducir a lesión, enfermedad (sin importar severidad) o fatalidad. Un incidente donde no existe lesión, enfermedad o fatalidad puede denominarse cuasi-pérdida, alerta, evento peligroso.</li>
            </ul>
        </p>
        <p><strong>Incidente de trabajo: </strong></p>
        <p>
            <ul>
                <li>Suceso acaecido en el curso del trabajo o en relación con este, que tuvo el potencial de ser un accidente, en el que hubo personas involucradas sin que sufrieran lesiones o se presentaran daños a la propiedad y/o pérdida en los procesos.</li>
            </ul>
        </p>
        <p><strong>Investigación de accidente o incidente: </strong></p>
        <p>
            <ul>
                <li>Proceso sistemático de determinación y ordenación de causas, hechos o situaciones que generaron o favorecieron la ocurrencia del accidente o incidente, que se realiza con el objeto de prevenir su repetición, mediante el control de los riesgos que lo produjeron.</li>
            </ul>
        </p>
        <p><strong>Mecanismo del accidente: </strong></p>
        <p>
            <ul>
                <li>Se refiere a las características del acontecimiento que ha tenido como resultado directo la lesión, es decir, la manera en que el objeto o la sustancia en cuestión, ha entrado en contacto con la persona afectada.</li>
            </ul>
        </p>
        <p><strong>Parte del cuerpo afectada: </strong></p>
        <p>
            <ul>
                <li>Se clasifica la parte del cuerpo que resultó directamente afectada por la lesión. Cuando la naturaleza de la lesión o lesiones afecta varias secciones de una parte principal del cuerpo o diferentes miembros principales de este, debe utilizarse la categoría “partes múltiples”, de acuerdo con las reglas del método. Ejemplos: mano, dedos, pie, tronco, cabeza.</li>
            </ul>
        </p>
        <p><strong>Sitio de ocurrencia: </strong></p>
        <p>
            <ul>
                <li>Se refiere al lugar área o sede donde ocurrió el incidente y accidente de trabajo.</li>
            </ul>
        </p>
        <p><strong>Tipo de accidente: </strong></p>
        <p>
            <ul>
                <li>Se designa el suceso que directamente produjo la lesión. Entre estos se encuentran: golpeado contra, golpeado por; caída de un nivel superior, caída a un mismo nivel; cogido en, debajo o entre; fricción o raspadura; reacción corporal, sobreesfuerzo; contacto eléctrico, contacto con temperatura extrema, contacto con radiaciones, o sustancias cáusticas, tóxicas y nocivas. Accidentes de transporte público, accidentes con vehículos motorizados.</li>
            </ul>
        </p>
        
    </div> 
    <div><br></div>
    <div><br></div>
    <div>
        <strong>5. POLÍTICAS DE OPERACIÓN</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>* Conformación del equipo de investigación y tiempo de investigación Dependiendo del tipo de evento se conformará el equipo de investigación así:</p>
    </div> 
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:center;">
                <div><strong>TIPO DE EVENTO</strong></div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div><strong>EQUIPO DE INVESTIGACIÓN</strong></div>
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:justify;">
                <div><strong>TIPO DE EVENTO</strong></div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:center;">
                <div>Incidente</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:justify;">
                <div>* Responsable de Seguridad y Salud en el Trabajo.</br>* Jefe inmediato.</br> * Funcionario involucrado.</br> * Un representante del COPASST.</br> * Un compañero de la misma área.</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:justify;">
                <div>La designación se realiza dentro del comité donde se reporta la ocurrencia del hecho.</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:center;">
                <div>Accidente Leve</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:justify;">
                <div>* Responsable de Seguridad y Salud en el Trabajo.</br>* Jefe inmediato o supervisor de contrato.</br> * Un representante del COPASST.</br></div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:justify;">
                <div>Articulo 4 Obligaciones de los aportantes, numeral 2. Investigar todos los incidentes y accidentes de trabajo dentro de los quince (15) días siguientes a su ocurrencia, a través del equipo investigador, conforme lo determina la presente resolución.</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:center;">
                <div>Accidente Grave o fatal</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:justify;">
                <div>* Responsable de Seguridad y Salud en el Trabajo, Profesional con licencia en SST.</br>* Jefe inmediato o supervisor de contrato.</br> * Un representante del COPASST.</br></div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:justify;">
                <div>Articulo 4 Obligaciones de los aportantes, numeral 2. Investigar todos los incidentes y accidentes de trabajo dentro de los quince (15) días siguientes a su ocurrencia, a través del equipo investigador, conforme lo determina la presente resolución.</div> 
            </td>
        </tr>
    </table>
    <div><br></div>
    <div style="text-align:justify">
        <p>Este equipo estará encargado de la toma de datos y la redacción del informe en el formato “Investigación de Accidente o Incidente de Trabajo”, de acuerdo al evento ocurrido, el tiempo de la investigación para todos los eventos será dentro de los quince (15) días calendario siguiente a su ocurrencia de acuerdo a la normatividad vigente.</p>
        <p>Registros Iníciales para la investigación: Toda investigación inicia en el momento que lleguen al Grupo de Talento Humano SG-SST, el registro de incidentes de acuerdo al formato “Reporte de Incidente, acto o condición insegura”.</p>
    </div> 
    <div><br></div>
    <div><br></div>
    <div>
        <strong>Recopilación de la información.</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>De ser posible, se visita el área donde ocurrió el accidente o incidente para hacer la reconstrucción de los hechos y se analizan:</p>
        <p>
            <ul>
                <li>Agente del Accidente</li>
                <li>Mecanismo del Accidente</li>
                <li>Parte del Cuerpo Afectada</li>
                <li>Sitio de Ocurrencia</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div><br></div>
    <div>
        <strong>Tipo de Accidente.</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>Se tendrá en cuenta los siguientes soportes documentales los cuales son el insumo para diligenciar en el Formato Único de Investigación de Incidente y Accidente de Trabajo de la ARL de la cual esté vinculada la entidad:</p>
        <p>
            <ul>
                <li>Programación de actividades</li>
                <li>Procedimientos de trabajo</li>
                <li>Cumplimiento de medidas preventivas</li>
                <li>Entrevistas al afectado, testigos: Se debe indagar cuándo ocurrió, dónde se encontraba el trabajador, qué actividad estaba realizando y que pasó, por qué realizaba la actividad, para qué, con quién se encontraba, como sucedió, entre otros.</li>
                <li>Versión del Jefe Inmediato.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div><br></div>
    <div>
        <strong>Análisis de causas</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>Existen varias metodologías que se pueden utilizar, tales como lluvia de ideas, árbol de causas o espina de pescado, los cinco por qué o cualquier metodología que esté avalada internacionalmente. Estas causas se priorizan a través de votación razonada.</br>El equipo investigador con base a la metodología utilizada determinará las causas que generaron el incidente o accidente, de la siguiente forma:</p>
        <p>
            <ul>
                <li>Causas inmediatas (Descritas en el formato Investigación de Accidente o Incidente de Trabajo)</br>- Actos subestandar o actos inseguros: comportamientos que podrían dar paso a la ocurrencia de un accidente o incidente.</br>- Condiciones subestandar o inseguras: Circunstancias que podrían dar pasó a la ocurrencia de un accidente o incidente.</li>
                <li>Causas básicas (Descritas en el formato Investigación de Accidente o Incidente de Trabajo).</br>Razones por las cuales ocurren los actos y condiciones inseguras. Factores que una vez identificados permiten un control administrativo significativo: factores personales y factores de trabajo.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div><br></div>
    <div>
        <strong>Informe de la investigación.</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>El equipo investigador debe preparar un informe de investigación de incidente o accidente de trabajo, Formato Investigación de Incidentes y Accidentes de trabajo, que incluye los siguientes puntos:</p>
        <p>
            <ul>
                <li>Identificación general de la Entidad.</li>
                <li>Sede, área o dependencia del accidentado o incidente.</li>
                <li>Datos de la persona (funcionario) que sufrió el accidente o incidente.</li>
                <li>Información sobre el accidente o incidente.</li>
                <li>Versión testigos del accidente o incidente y jefe inmediato.</li>
                <li>Análisis del accidente o incidente.</li>
                <li>Plan de acciones correctivas o preventivas y seguimiento.</li>
                <li>Costos.</li>    
                <li>Responsable del diligenciamiento del informe del accidente (FURAT) o incidente (Ministerio).</li>
                <li>Datos del equipo investigador del accidente o incidente (Entidad).</li>
                <li>Datos del Representante Legal del Ministerio. (Si aplica Accidente Grave o Mortal).</li>
                <li>Datos de remisión de la investigación del accidente o incidente.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div><br></div>
    <div>
        <strong>Medidas correctivas y preventivas</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>El equipo investigador debe establecer las acciones correctivas requeridas para mitigar las consecuencias de los accidentes o incidentes generados, así como identificar posibles acciones preventivas y/o necesidades de formación, las cuales serán registradas en el plan de trabajo, para su control y ejecución. La vigilancia al cumplimiento de las acciones propuestas se llevará a cabo por parte del Comité Paritario de Seguridad y Salud en el Trabajo (COPASST).</p>
    </div> 
    <div><br></div>
    <div><br></div>
    <div>
        <strong>Archivo y Custodia de accidentes e incidentes</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>Las investigaciones de incidentes y accidentes serán archivadas de manera digital en custodia de Seguridad y Salud en el Trabajo.</p>
    </div> 
    <div><br></div>
    <div>
        <strong>Medición y seguimiento</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>El responsable del Sistema de Gestión de la Seguridad y Salud en el Trabajo debe mantener actualizado el consecutivo de incidentes y accidentes, mediante el formato “Consolidado de Incidentes y Accidentes de Trabajo”, información que puede ser requerida para revisiones gerenciales, por el COPASST, la Administradora de Riesgos Laborales, Ministerio de Trabajo y otras partes interesadas.</p>
    </div> 
    <div><br></div>
    <div>
        <strong>6. CONTENIDO</strong>
    </div> 
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div><strong>N°</strong></div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div><strong>DESCRIPCIÓN</strong></div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:justify;">
                <div><strong>RESPONSABLE/PROCESO</strong></div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:justify;">
                <div><strong>EVIDENCIA</strong></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div><strong>OBSERVACIONES</strong></div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>1</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Recibe el informe sobre el accidente o incidente de trabajo.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Grupo de Talento Humano SG- SST.</div>
                <div>* COPASST.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Informe ocurrencia del presunto accidente o incidente de trabajo.</div>
                <div>* Acta de reunión del COPASST.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>El COPASST recibe el informe el accidente o incidente de trabajo por parte del Área de Gestión del Talento Humano SG-SST y deja constancia en el acta.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>2</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Conforma el equipo de investigación de acuerdo con la normatividad vigente, Resolución 1401 de 2007.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Responsable de Seguridad y Salud en el Trabajo.</div>
                <div>* Jefe inmediato.</div> 
                <div>* Funcionario involucrado.</div> 
                <div>* Un representante del COPASST.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div></div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Dependiendo del tipo de evento (accidente leve, grave o mortal) se conformará el equipo de investigación de acuerdo con la normatividad vigente, Resolución 1401 de 2007.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>3</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Registro Inicial (Incidente / Accidente)</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Equipo de investigación.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Formato reporte de incidentes acto o condición insegura.</div>
                <div>*  Formato de Investigación de Incidentes y Accidentes de Trabajo ARL</div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>El Formato de Investigación de Incidentes y Accidentes de Trabajo que se diligencia es el suministrado por la ARL a la cual está vinculada la entidad.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>4</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Recopilación de información</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Equipo de investigación.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Formato reporte de incidentes acto o condición insegura.</div>
                <div>*  Formato de Investigación de Incidentes y Accidentes de Trabajo ARL</div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>El Formato de Investigación de Incidentes y Accidentes de Trabajo que se diligencia es el suministrado por la ARL a la cual está vinculada la entidad.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>5</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Verifica si es posible realizar la visita al sitio; si es posible se realiza, si no es posible se efectúa el punto 6</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Equipo de investigación.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Formato reporte de incidentes acto o condición insegura.</div>
                <div>*  Formato de Investigación de Incidentes y Accidentes de Trabajo ARL</div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Determinar la metodología Árbol de causas para la investigación del accidente de trabajo.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>6</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Reconstruye los hechos del presunto accidente</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Equipo de investigación.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Formato reporte de incidentes acto o condición insegura.</div>
                <div>*  Formato de Investigación de Incidentes y Accidentes de Trabajo ARL</div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Determinar la metodología Árbol de causas para la investigación del accidente de trabajo.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>7</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Entrevista al afectado y a los testigos, Jefe inmediato</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Equipo de investigación.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Formato reporte de incidentes acto o condición insegura.</div>
                <div>*  Formato de Investigación de Incidentes y Accidentes de Trabajo ARL</div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Determinar la metodología Árbol de causas para la investigación del accidente de trabajo.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>8</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Realiza análisis de causas inmediatas y básicas</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Equipo de investigación.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Formato reporte de incidentes acto o condición insegura.</div>
                <div>*  Formato de Investigación de Incidentes y Accidentes de Trabajo ARL</div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Determinar la metodología Árbol de causas para la investigación del accidente de trabajo.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>9</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Prepara y envía el informe de la investigación a la ARL</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Equipo de investigación.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Se debe realizar él envió a la ARL del formato de investigación del accidente y demás anexos necesarios, siempre y cuando se</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>10</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Establece acciones preventivas y correctivas con los respectivos responsables de su aplicación vigilancia y cumplimiento</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Equipo de investigación.</div>
                <div>* COPASST.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Plan de Mejoramiento.</div>
                <div>*  Cronograma de Seguridad y Salud en el trabajo </div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Se debe informar los resultados a los trabajadores relacionados con sus causas o con sus controles para que participen en la determinación de las acciones necesarias.</div>
                <div>Se debe informar a la alta dirección sobre la estadística de ausentismo frente a la ocurrencia de accidentes de trabajo.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>11</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Realiza registro de incidentes y accidentes</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Grupo de Talento Humano – SG- SST.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Formato consolidado de incidentes y accidentes .</div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Las estadísticas de los incidentes y accidentes deben estar actualizadas y disponibles de manera permanente.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:center;">
                <div>12</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Actualiza consecutivo de incidentes y accidentes e indicadores.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>* Grupo de Talento Humano – SG- SST.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>*  Formato consolidado de incidentes y accidentes .</div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div></div>
            </td>
        </tr>

    </table>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
