<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>&nbsp;</div>
    
    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <strong>OBJETIVOS DEL SISTEMA DE GESTIÓN DE SEGURIDAD Y SALUD EN EL TRABAJO</strong>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>
        <%= @evidence.compliances %>
    </div>  

    <%= render 'firmarepresentante' %>

</div>