<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
<div> 
    <div>&nbsp;</div>
    <table>
        <tr style="background-color: #00aae4;">    
            <td style="border:1px solid black; text-align:center;">
                <strong>1. OBJETIVO</strong>
            </td>
        </tr>    
        <tr>    
            <td style="border:1px solid black; text-align:justify;">
                Gestionar de manera oportuna los cambios que puedan presentarse en <strong><%= @evidence.entity.business_name %></strong> de forma planificada y controlada, con el objetivo de garantizar la integridad del Sistema Integrado de Gestión.
            </td>
        </tr>
    </table>    
    <div>&nbsp;</div>
    <table>
        <tr style="background-color: #00aae4;">    
            <td style="border:1px solid black; text-align:center;">
                <strong>2. ALCANCE</strong>
            </td>
        </tr>    
        <tr>    
            <td style="border:1px solid black; text-align:justify;">
                Este procedimiento es de aplicación obligatoria en todos los procesos de cambio que puedan presentarse a los sistemas de gestión, procesos, programas, lugares de trabajo, servicios; este plan inicia con la identificación del cambio y finaliza con el seguimiento, control y ajuste del plan de cambios.
            </td>
        </tr>
    </table>    
    <div>&nbsp;</div>
    <table>
        <tr style="background-color: #00aae4;">    
            <td style="border:1px solid black; text-align:center;">
                <strong>3. DEFINICIONES</strong>
            </td>
        </tr>    
        <tr>    
            <td style="border:1px solid black; text-align:justify;">
                <p><strong>CAMBIO:</strong> Es un conjunto de variaciones que sufren las organizaciones y que se traduce en un nuevo comportamiento organizacional. Por ejemplo, apertura de nuevas sedes, arreglos en la infraestructura, cambio en la estructura organizacional, recorte presupuestal, incorporación de herramientas tecnológicas, entre otros.</p>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; text-align:justify;">
                <p><strong>PROCESO:</strong> Conjunto de actividades relacionadas, las cuales transforman elementos de entrada en salida.</p>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; text-align:justify;">
                <p><strong>PROYECTO:</strong> Es el conjunto de actividades que desarrolla una empresa o entidad para alcanzar un determinado objetivo, incluyendo las limitaciones de tiempo, costo y recursos.</p>
            </td>
        </tr>
    </table>    
    <div>&nbsp;</div>
    <table style="border:1px solid black;">
        <tr style="background-color: #00aae4;">    
            <td style="border:1px solid black; text-align:center;">
                <strong>4. CONDICIONES GENERALES</strong>
            </td>
        </tr>    
        <tr>    
            <td style="border:0px solid black; text-align:justify;">
                <p><strong>Elementos de entrada:</strong> Los elementos que se deben tener en cuenta como entradas para la ejecución de este procedimiento, están dadas por: </p>
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; text-align:justify;">
                <ul>
                    <li>
                        <p>La generación de nuevos procesos, identificación de nuevos requisitos legales, nuevos servicios, equipos, tecnología, insumos, cambios en la estructura organizacional, cambios en la administración, cambios en la infraestructura, entre otros.</p>
                    </li>
                </ul>        
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; text-align:justify;">
                <p>Los responsables de esta identificación serán, entre otros: Representante Legal, Lideres y responsables por la ejecución de los procesos.</p>
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; text-align:justify;">
                <p><strong>Aprobación del plan de cambios:</strong> </p>
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; text-align:justify;">
                <ul>
                    <li>
                        <p>En el momento de que se presente un cambio en cualquiera de las entradas antes mencionadas, se debe diligenciar el formato para la planificación y el análisis de estos cambios, el cual se debe enviar al Representante Legal para ser estudiado y aprobado juntamente con el responsable del SG-SST.</p>
                    </li>
                </ul>        
            </td>
        </tr>
    </table>  
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;">
            <td COLSPAN=4 style="border:1px solid black; text-align:center;">
                <strong>5. DETALLE DE ACTIVIDADES</strong>
            </td>
        </tr>
        <tr style="background-color: #00aae4;">
            <td style="border:1px solid black;text-align:center;">
                <strong>N°</strong>
            </td>
            <td style="border:1px solid black;text-align:center;">
                <strong>DESCRIPCIÓN DE LA ACTIVIDAD</strong>
            </td>
            <td style="border:1px solid black;text-align:center;">
                <strong>RESPONSABLE</strong>
            </td>
            <td style="border:1px solid black;text-align:center;">
                <strong>CONTROLES</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;background-color: #00aae4;">
                <strong>1</strong>
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Identificar el cambio: En caso de que sea necesario aplicar la gestión del cambio, el solicitante inicia el requerimiento, en donde se describe el propósito del cambio y su justificación.            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Responsable del proceso, interesado en la gestión del cambio.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                No aplica.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;background-color: #00aae4;">
                <strong>2</strong>
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Analizar los elementos impactados del Sistema integrado de Gestión: Se realiza análisis del cambio, identificando si se requiere, cambiar el mapa de procesos de la organización, cambiar equipos o maquinaria, infraestructura, actualizar el mapa de riesgos, crear o eliminar un cargo en <strong><%= @evidence.entity.business_name %></strong>, contar con más presupuesto para el sistema de Gestión, modificar o eliminar algún manual o instructivo del sistema integrado de gestión, otro tipo de cambios.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Responsable del proceso, interesado en la gestión del cambio.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Formato para planificación y análisis de cambios.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;background-color: #00aae4;">
                <strong>3</strong>
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Aprobar plan de cambios: Evaluar el plan de cambios por el Representante legal, con el fin de aprobar la implementación del plan establecido, incluye el nombramiento del líder de implementación del plan de cambios.<br>El representante debe evaluar la criticidad y el impacto del cambio con el fin de determinar qué planes deben ser aprobados.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Representante de la Dirección
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Acta del comité.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;background-color: #00aae4;">
                <strong>4</strong>
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                ¿Se requieren ajustes del plan de cambios? Si se requiere algún tipo de cambio se debe pasar a ajustar el plan.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Responsable del Proceso
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                No aplica.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;background-color: #00aae4;">
                <strong>5</strong>
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Ajustar plan de cambios: Se debe detallar el plan de actividades para la implementación del cambio, teniendo en cuenta los responsables de la ejecución de las actividades, los recursos aprobados y el tiempo estimado de duración.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Responsable del proceso, interesado en la gestión.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Formato para planificación y análisis de cambios.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;background-color: #00aae4;">
                <strong>6</strong>
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Divulgar el cambio: Se debe socializar los tiempos y actividades, a los implicados de ejecutar el plan de cambios.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Responsable del proceso.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Registros de asistencia a divulgaciones.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;background-color: #00aae4;">
                <strong>7</strong>
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Implementación el cambio: El líder de Implementación del cambio será el responsable del proceso de cambio y este le informará cualquier novedad al Representante.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Responsable del Proceso.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                No aplica.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;background-color: #00aae4;">
                <strong>8</strong>
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Realizar seguimiento, control y ajuste al plan de cambios: Se debe valorar si se están consiguiendo los resultados esperados y reportar el avance de la ejecución del plan de cambios.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Responsable del Proceso.
            </td>
            <td style="border:1px solid black;text-align:justify;padding: 20px;">
                Punto de Control.
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
