<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div><br></div>
    <div>
        <h5><strong>OBJETIVO</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Determinar los criterios para seleccionar, evaluar y re-evaluar a los contratistas y proveedores en función de su capacidad para suministrar bienes y/o servicios de acuerdo con los requisitos de Seguridad y Salud en el Trabajo establecidos por <strong><%= @evidence.entity.business_name %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>ALCANCE</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El tipo y alcance del control aplicado a los contratistas y proveedores, se determina con base en los productos y/o servicios adquiridos considerados de impacto para la ejecución de actividades que pueden afectar de manera importante la seguridad y salud de los funcionarios de la entidad o de los trabajadores de los contratistas o subcontratistas. </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Los contratistas identificados como críticos sujetos a control están relacionados con los productos y/o servicios relacionados a continuación: </p>
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; text-align:justify;">
                <ul>
                    <li>
                        <p>Servicios de aseo </p>
                    </li>
                    <li>
                        <p>Mantenimiento locativo </p>
                    </li>
                    <li>
                        <p>Construcción </p>
                    </li>
                    <li>
                        <p>Servicios de vigilancia privada </p>
                    </li>
                </ul>        
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Los proveedores identificados como críticos sujetos a control están relacionados con los productos y/o servicios relacionados a continuación: </p>
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; text-align:justify;">
                <ul>
                    <li>
                        <p>Elementos de seguridad industrial, EPP.  </p>
                    </li>
                    <li>
                        <p>Suministro de medicamentos e implementos médicos (botiquines).  </p>
                    </li>
                    <li>
                        <p>Servicios medicina preventiva y del trabajo (exámenes periódicos ocupacionales, de ingreso, retiro). </p>
                    </li>
                    <li>
                        <p>Recolección y Disposición final de residuos generados por la institución. </p>
                    </li>
                    <li>
                        <p>Control de Roedores (Fumigaciones y lavados de tanques). </p>
                    </li>
                </ul>        
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>DEFINICIONES </strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>CONTRATISTA:</strong> Persona natural o jurídica que suscribe un contrato para la ejecución de una actividad o prestación de un servicio por un precio determinado, asumiendo todos los riesgos para realizarlos con sus propios medios, con libertad y autonomía técnica.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>CONTRATISTA CRÍTICO:</strong> Contratistas que prestan servicios que tienen gran impacto en la seguridad o salud de sus trabajadores.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>EVALUACIÓN PROVEEDORES Y CONTRATISTAS:</strong> Proceso mediante la cual se logra la validación o aprobación de algunos proveedores y contratistas, que tengan las competencias para satisfacer adecuadamente las necesidades de la entidad.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>EPP:</strong> Elementos de protección personal.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>PRODUCTO:</strong> Corresponde a la clasificación genérica para compras generales de bienes tangibles (insumos, suministros, herramientas, productos terminados, etc.). </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>PROVEEDOR:</strong> Una organización o persona que suministra un producto, no se requiere contrato.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>PROVEEDOR CRÍTICO:</strong> Corresponde a aquellos proveedores cuyo producto puede afectar la seguridad o salud de los funcionarios de la entidad.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>SELECCIÓN DE PROVEEDORES:</strong> Determinación de proveedor con el cual se va a realizar la compra de acuerdo a los requisitos establecidos para su selección.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>SST:</strong> Seguridad y Salud en el Trabajo </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>REQUISITOS PARA CONTRATISTAS Y PROVEEDORES</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Todos los contratistas deben garantizar el suministro y uso de los Elementos de Protección Personal a los trabajadores que presten sus servicios a la entidad o serán suministrados por la misma de acuerdo a las condiciones del contrato suscrito. </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Tabla 1. Requisitos para Contratistas y Proveedores</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    
    <table> 
        <tr style="background-color: #00aae4;">
            <td style="border:1px solid black;text-align:center;width: 10%;">
                Tipo Servicio
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                RUT
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Copia CC
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Cumpli miento resolu
                ción 0312
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Licencia SST
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Per miso Ambi ental
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Certi ficado trabajo seguro en alturas
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Exá menes médi cos
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Sopor te entre ga EPP 
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Afili ación Segu ridad social
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Proce dimi entos de las activi dades
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Matriz de Peligros y valoración de los riesgos
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Inducción - Reinducción de SST 
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Hojas de Seguridad
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Fichas técnicas
            </td>
            <td style="border:1px solid black;text-align:center;width: 6%;">
                Esquema de vacunación 
            </td>
        </tr>
        <tr style="background-color: #00aae4;">
            <td COLSPAN=16 style="border:1px solid black; text-align:center;">
                <strong>CONTRATISTAS</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Servicios de aseo</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Mantenimiento locativo</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Construcción</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Servicio de vigilancia privada</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
        </tr>
        <tr style="background-color: #00aae4;">
            <td COLSPAN=16 style="border:1px solid black; text-align:center;">
                <strong>PROVEEDORES</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Elementos de seguridad industrial EPP</td>
            <td style="border:1px solid black; text-align:center;">X</td> 
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Suministro de medicamentos e implementos médicos (botiquines)</td>
            <td style="border:1px solid black; text-align:center;">X</td> 
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Medicina Preventiva y del Trabajo</td>
            <td style="border:1px solid black; text-align:center;">X</td> 
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Materiales e insumos</td>
            <td style="border:1px solid black; text-align:center;">X</td> 
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
        </tr>
        <tr>
            <td style="border:1px solid black; text-align:center;">Control de Roedores</td>
            <td style="border:1px solid black; text-align:center;">X</td> 
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;"> </td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
            <td style="border:1px solid black; text-align:center;">X</td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Estos requisitos deben ser comunicados a los proveedores y contratistas al momento de realizar el contacto y solicitud de cotizaciones.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>El seguimiento y control al cumplimiento de los requerimientos exigidos, se realizará a través de la LISTA DE CHEQUEO PARA DOCUMENTACIÓN DE SST DE CONTRATISTAS Y PROVEEDORES.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Tabla 2. Requisitos frente a los Elementos de Protección Personal solicitados a contratistas. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;">
            <td style="border:1px solid black;text-align:center;">
                TIPO SERVICIO
            </td>
            <td style="border:1px solid black;text-align:center;">
                ELEMENTOS DE PROTECCIÓN PERSONAL (EPP)
            </td>
        </tr>    
        <tr>
            <td style="border:1px solid black;text-align:center;">
                Mantenimiento locativo (trabajo en alturas)
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <ul>
                    <li><p>Arnés de cuerpo completo </p></li>
                    <li><p>Mosquetones </p></li>
                    <li><p>Eslinga </p></li>
                    <li><p>Casco de bajo peso con ajuste de profundidad, cordón en el tafilete, visera larga y barbuquejo. </p></li>
                    <li><p>Monogafa transparente protección contra impacto Lentes en policarbonato, recubrimiento 4C (U.V. - antiempañante - antirayadura - antiestática). </p></li>
                    <li><p>Botas </p></li>
                    <li><p>Guantes </p></li>
                    <li><p>y demás materiales para el trabajo seguro en alturas. </p></li>
                </ul> 
                <p>Las especificaciones de estos elementos dependerán del tipo de labor a realizar y deben ser solicitadas al contratista y revisadas por SST antes de iniciar la labor.</p>     
            </td>
        </tr>    
        <tr>
            <td style="border:1px solid black;text-align:center;">
                Mantenimiento locativo
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <ul>
                    <li><p>Botas de seguridad  </p></li>
                    <li><p>Guantes </p></li>
                    <li><p>Mascarilla </p></li>
                    <li><p>Monogafas </p></li>
                    <li><p>Casco</p></li>
                    <li><p>Protección auditiva </p></li>
                    <li><p>Caretas y peto (aplica para trabajo de soldadura) </p></li>
                </ul> 
                <p>Las especificaciones de estos elementos dependerán del tipo de labor a realizar y deben ser solicitadas al contratista y revisadas por SST antes de iniciar la labor.</p>     
            </td>
        </tr>    
        <tr>
            <td style="border:1px solid black;text-align:center;">
                Servicios de aseo
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <ul>
                    <li><p>Guantes de caucho calibre 35, resistente a químicos y microorganismos.  </p></li>
                    <li><p>Botas de caucho caña altas </p></li>
                    <li><p>Tapabocas para material particulado. </p></li>
                    <li><p>Monogafas </p></li>
                </ul> 
            </td>
        </tr>    
        <tr>
            <td style="border:1px solid black;text-align:center;">
                Servicios de Vigilancia Privada.
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <ul>
                    <li><p>Zapatos antideslizantes </p></li>
                    <li><p>Chapuza </p></li>
                </ul> 
            </td>
        </tr>  
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Nota:</strong> Las especificaciones de los elementos de protección personal aquí descritos son de referencia y pueden ser modificados siempre y cuando la empresa contratista cuente con un programa de selección de elementos de protección personal en el cual las especificaciones propias superen las aquí descritas. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>CRITERIOS DE SELECCIÓN</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Es necesario tener en cuenta los siguientes criterios adicionales y otorgar mayor puntaje durante la selección de los contratistas:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Que cuenten con Sistema de Gestión en Seguridad y salud en el trabajo (SST) implementado y funcionando (con certificado de la ARL).</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Que tengan certificaciones o que se encuentren en proceso de certificación en sistemas de gestión OHSAS 18001, ISO 9001, ISO 14001 o cualquier otra certificación que garantice el compromiso en la implementación de Sistemas de gestión. </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Que no hayan presentado accidentes mortales durante el periodo anterior a la contratación – (certificado de accidentalidad ARL).</p>
            </td>
        </tr>
    </table> 
    <div><br></div>


    <%= render 'firmaelaboro' %>

</div>