<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>&nbsp;</div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong><%= @evidence.entity.business_name if @evidence.present? %> </strong>por medio de la política de prevención del consumo de alcohol y drogas pretende fomentar un ambiente de trabajo saludable, libre de alcohol, tabaco y sustancias psicoactivas que se refleje en la salud y bienestar de los empleados, contratistas y en la protección de los bienes de la organización. Por lo anterior y teniendo en cuenta la normatividad colombiana, se fijan los siguientes lineamientos como requisito de obligatorio cumplimiento por todos los trabajadores, contratistas y demás partes interesadas de la organización dentro y fuera de las instalaciones: </p>
            </td>
        </tr>
    </table> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Está prohibido presentarse a su lugar de trabajo en estado de embriaguez o bajo la influencia de narcóticos o de drogas enervantes o llegar a ingerirlos dentro de las instalaciones. </li>
                        <li>Se prohíbe realizar labores en estado de alicoramiento o bajo la influencia de sustancias psicoactivas. </li>
                        <li>Se prohíbe ingerir o mantener dentro de la organización en cualquier cantidad: licores, tóxicos, explosivos, barbitúricos, estupefacientes, drogas enervantes y cualquier sustancia o producto semejante.</li>
                        <li>Se prohíbe fumar (cigarrillos electrónicos) al interior de la organización, en lugares prohibidos de acuerdo con la norma legal vigente para garantizar espacios libres de humo.</li>
                    </ul>        
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las personas que por voluntad propia se nieguen a participar en las mediciones esporádicas preventivas, que son de obligatorio cumplimiento, la organización lo tomará como un indicio de que se presentó a trabajar en estado de embriaguez o bajo la influencia de narcóticos o de drogas enervantes.</p>
                <p>Los procesos sancionatorios que se generen a partir del incumplimiento de la presente política estarán ligados a los lineamientos establecidos en el reglamento interno de trabajo.</p>
                <p><strong><%= @evidence.entity.business_name if @evidence.present? %> </strong> se compromete en promover actividades de sensibilización y de capacitación para motivar a los empleados y contratistas en buscar la creación de hábitos saludables en relación con el daño que causa el cigarrillo, el exceso de alcohol y las sustancias psicoactivas a la salud del individuo y de su entorno.</p>
            </td>
        </tr>
    </table> 

    <div><br></div>
    <%= render 'firmarepresentante' %>
</div>
