<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
<div> 
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11">
            <div class="row">
                REPRESENTANTE LEGAL:
            </div>
        </div>
    </div>
    <hr>  
    <div class="row">
        <div class="col-11">
            <div class="row">
                <strong>Nombre:</strong>  <%= @colaborador_ssst.name if @colaborador_ssst.present? %></br>
                <strong>Cargo:</strong>  <%= @cargo_colaborador if @cargo_colaborador.present? %>
            </div>
        </div>
    </div>
    <hr>  
    <div class="row">
        <div class="col-11">
            <div class="row">
                <strong>Responsabilidades en Seguridad y Salud en el Trabajo</strong>
            </div>
        </div>
    </div>

    <ul>
        <table> 
            <tr>
                <td style="text-align:justify">
                    <li>Cumplir los requisitos legales y contractuales en Seguridad y Salud en el Trabajo. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li>Elaboración, implementación y difusión de la Política y Objetivos de SST. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li>Participar de forma activa en las revisiones periódicas y en el establecimiento de los objetivos de SST. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li>Asegurar la disponibilidad de los recursos financieros, humanos, físicos, técnicos, tecnológicos y demás necesarios para el diseño, implementación, revisión, evaluación y mejora de las medidas de prevención y control, para la gestión eficaz de los peligros y riesgos en el lugar de trabajo y para que el responsable del SGSST y el COPASST, puedan cumplir satisfactoriamente con sus funciones. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li>Participar en auditorías internas al Sistema de Gestión de Seguridad y Salud en el Trabajo.  </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li>Solicitar que se presenten informes sobre desempeño del Sistema Gestión de Seguridad y Salud en el Trabajo para su revisión. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li>Asignar, comunicar y verificar el cumplimiento de las responsabilidades del SG-SST a todos los niveles de la organización, incluyendo grupos de interés como: COPASST, Comité de Convivencia y Comité de emergencias. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li>Establecer mecanismos para la rendición de cuentas al interior de la organización. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li>Garantizar la capacitación de los colaboradores y contratistas en los aspectos de SST de acuerdo a las características de la organización. </li>
                </td>
            </tr>

            <tr><td><br></td></tr>                
        </table>
    </ul>

    <%= render 'firmaguion' %>

</div>
<br>