<div class="container col-11 card p-5"> 

    <table> 
        <tr>
            <td style="text-align:justify">
                <p>En las instalaciones de la (Nombre empresa), se hizo la invitación a los voluntarios inscritos para la elección y conformación de las brigadas de emergencia, así:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Comité operativo de emergencias ¨COE¨</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Jefe de brigada</li>
                        <li>Brigada de primeros auxilios</li>
                        <li>Brigada de emergencia</li>
                        <li>Brigada de Evacuación y rescate</li>
                    </ul>
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Desarrollo de la Reunión</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>
                    <ol>
                        <li>Funciones, responsabilidades y niveles de la autoridad de los integrantes.</li>
                        <li>Elección de los cargos (por votación entre los participantes, postulación voluntaria o propuesta entre los participantes).</li>
                        <li>Aceptación de los cargos.</li>
                        <li>Cierre de la reunión</li>
                    </ol>
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Previa socialización de las funciones, responsabilidades, niveles de autoridad, elección y aceptación de los cargos dentro del total de los voluntarios inscritos se convocó a la reunión para elección de las brigadas resultando elegidos, las siguientes personas:</p>
            </td>
        </tr>
    </table>
    <div><br></div>   
    <table> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <strong>CONFORMACIÓN DE LA BRIGADA DE EMERGENCIAS </strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 100%;">
                Fecha de actualización: <%= @evidence.date %>
            </td>
        </tr>
    </table> 
    <table> 
        <tr>
            <td style="border:1px solid black;width: 100%;background-color: #00aae4;text-align:center;">
                <strong>JEFE DE BRIGADISTAS </strong>
            </td>
        </tr>
    </table> 
    <table> 
        <tr>
            <td style="border:1px solid black;width: 50%;">
                Coordinador de brigada                
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                Cargo 
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                RH 
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                Teléfono 
            </td>                        
        </tr>
        <tr>
            <td style="border:1px solid black;width: 50%;">
                Coordinador de brigada                
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                Cargo 
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                RH 
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                Teléfono 
            </td>                        
        </tr>

    </table> 
    <div><br></div>


</div>
<br>