<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6>RESPONSABLE SG-SST:</h6>
            </div>
        </div>
    </div>
    <hr>  
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6>Nombre:  <strong><%= @colaborador_ssst.name if @colaborador_ssst.present? %></strong></h6>
                <h6>Cargo:  <strong>Responsable SG-SST</strong></h6>
            </div>
        </div>
    </div>
    <hr>  
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6><strong>Responsabilidades en Seguridad y Salud en el Trabajo</strong></h6>
            </div>
        </div>
    </div>

    <table> 
        <tr>
            <td style="text-align:justify">
               * Participar en las inspecciones de seguridad. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Planificar, organizar, dirigir, desarrollar y aplicar el SG-SST y como mínimo una vez al año realizar su evaluación. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Informar a la alta dirección sobre el funcionamiento y los resultados del SG-SST. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Promover la participación de todos los miembros de la empresa en la implementación del SG-SST. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Coordinar con los jefes de las áreas, la elaboración y actualización de la matriz de identificación de peligros, evaluación y valoración de riesgos y hacer la priorización para focalizar la intervención. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Validar o construir con los jefes de las áreas los planes de acción y hacer seguimiento a su cumplimiento. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Promover la comprensión de la política en todos los niveles de la organización. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Gestionar los recursos para cumplir con el plan de Seguridad y Salud en el Trabajo y hacer seguimiento a los indicadores. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Coordinar las necesidades de capacitación en materia de prevención según los riesgos prioritarios y los niveles de la organización. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Apoyar la investigación de los accidentes e incidentes de trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Participar de las reuniones del Comité de Seguridad y Salud en el trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Implementación y seguimiento del SG-SST. <br>
            </td>
        </tr>

        <tr><td><br></td></tr>                
    </table>
    <% @firms.each do |firm| %>
        <% if firm.legal_representative == 0 %>
            <div class="row"> 
                <div class="col-11">
                    <div>&nbsp;</div>
                    <% if firm.authorize_firm == 1 %>
                       <% if firm.user.firm.attached? %>
                          <% if firm.user.firm.image? %> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag firm.user.firm, class: "firma" %>
                               <p>Firma: ________________________________       Fecha:&nbsp;&nbsp;<%= firm.date_authorize_firm %></p>
                          <% end %>
                        <% end %>
                    <% else %>    
                        <p>Firma: ________________________________       Fecha: _________________</p>
                    <% end %>     
                </div>
            </div>
        <% end %>    
    <% end %>
</div>
<br>