<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6>RESPONSABLE SG-SST:</h6>
            </div>
        </div>
    </div>
    <hr>  
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6><strong>Nombre:</strong>  <%= @colaborador_ssst.name if @colaborador_ssst.present? %></h6>
                <h6><strong>Cargo:</strong> <%= @colaborador_ssst.activity if @colaborador_ssst.present? %></h6>
            </div>
        </div>
    </div>
    <hr>  
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6><strong>Responsabilidades en Seguridad y Salud en el Trabajo</strong></h6>
            </div>
        </div>
    </div>
    <ul>
        <table> 
            <tr>
                <td style="text-align:justify">
                    <li><p>Participar en las inspecciones de seguridad. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Planificar, organizar, dirigir, desarrollar y aplicar el SG-SST y como mínimo una vez al año realizar su evaluación. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Informar a la alta dirección sobre el funcionamiento y los resultados del SG-SST. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Promover la participación de todos los miembros de la empresa en la implementación del SG-SST. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Coordinar con los jefes de las áreas, la elaboración y actualización de la matriz de identificación de peligros, evaluación y valoración de riesgos y hacer la priorización para focalizar la intervención. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Validar o construir con los jefes de las áreas los planes de acción y hacer seguimiento a su cumplimiento. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Promover la comprensión de la política en todos los niveles de la organización. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Gestionar los recursos para cumplir con el plan de Seguridad y Salud en el Trabajo y hacer seguimiento a los indicadores. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Coordinar las necesidades de capacitación en materia de prevención según los riesgos prioritarios y los niveles de la organización. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Apoyar la investigación de los accidentes e incidentes de trabajo. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Participar de las reuniones del Comité de Seguridad y Salud en el trabajo. </p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Implementación y seguimiento del SG-SST. </p></li>
                </td>
            </tr>

            <tr><td><br></td></tr>                
        </table>
    </ul>
    <%= render 'firmanorepresentantederecha' %>
        
</div>
<br>