<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    <div><br></div>
    <div>
        <strong>ESTRUCTURA</strong>
    </div> 
    <div><br></div>    
    <div>
        <strong>Objetivos</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La Política del SG SST define los siguientes objetivos sobre los cuales la organización expresa su compromiso:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ol>
                        <li>Identificar los peligros, evaluar y valorar los riesgos y establecer los respectivos controles y defensas para generar impacto.</li>
                        <li>Proteger la seguridad y salud de todos los trabajadores, mediante la mejora continua del Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST) en la empresa.</li>
                        <li>Cumplir la normatividad nacional vigente aplicable en materia de riesgos laborales.</li>
                    </ol>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>  
    <div>
        <strong>Alcance</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>En el marco del sistema de gestión de seguridad y salud en el trabajo, la empresa ha establecido en forma clara su política para la intervención desde la prevención de los riesgos y aspectos en lo referente a la seguridad, salud en el trabajo, así como la política para el control del consumo de alcohol y drogas por parte de sus empleados y partes interesadas en la operación.
                Será una prioridad para la empresa que sus empleados y partes interesadas cumplan a cabalidad los lineamientos de las políticas establecidas.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 80%;text-align:center;background-color: #00aae4"><strong>PROCEDIMIENTO</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Gerencia: </strong>
                </div> 
                <p>
                    <ul>
                        <li>Establecer el alcance de las políticas.</li>
                        <li>Definir las funciones y responsabilidades para la administración de las políticas.</li>
                        <li>Definir los recursos para el mejoramiento continuo.</li>
                        <li>Realizar revisiones anuales.</li>
                        <li>Garantizar la divulgación y publicación a sus partes interesadas.</li>
                        <li>Medir el cumplimiento de lo establecido mínimo una vez al año en las revisiones del sistema de gestión.</li>
                    </ul>
                </p>
                <div>
                    <strong>Mandos Medios:  </strong>
                </div> 
                <p>
                    <ul>
                        <li>Garantizar que las políticas sean divulgadas y evaluadas en sus procesos a todas las partes interesadas.</li>
                        <li>Proponer la mejora continua de las políticas a la alta dirección.</li>
                        <li>Identificar de forma proactiva los incumplimientos a lo definido por las políticas y establecer los controles necesarios para la mejora.</li>
                        <li>Velar por que todas las partes interesadas en la empresa conozcan las políticas de la operación y las apliquen en sus procesos.</li>
                    </ul>
                </p>
                <div>
                    <strong>Empleados y partes interesadas:  </strong>
                </div> 
                <p>Aplicar permanente y sistemáticamente las políticas en todos los procesos de la compañía, interpretando con claridad los lineamientos definidos desde la gerencia.</p>
                <p>
                    <ul>
                        <li>Generar propuestas de mejora a las Políticas por medio de las herramientas de comunicación establecidas por la compañía.</li>
                    </ul>
                </p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Gerencia General</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Divulgación y Publicación </strong>
                </div> 
                <p>El texto de la política SST y la política para el control del consumo de alcohol y drogas será divulgado y publicado en:</p>
                <p>
                    <ul>
                        <li>Reuniones empresariales o comités.</li>
                        <li>Carteleras.</li>
                        <li>Inducciones, entrenamientos y reentrenamientos.</li>
                        <li>Eventos.</li>
                        <li>Primera reunión del COPASS y/o Vigía SST.</li>
                    </ul>
                </p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Revisiones y Actualizaciones</strong>
                </div> 
                <p>Las políticas serán revisadas cada año por la Gerencia y el Administrador del SG-SST y se evaluará la necesidad o no de realizar modificaciones al texto actual, estas modificaciones se presentarán en cualquiera de las siguientes situaciones:</p>
                <p>
                    <ul>
                        <li>Cambios en la legislación colombiana.</li>
                        <li>Cambios en los requerimientos de la ley.</li>
                        <li>Cambio de la naturaleza de la empresa.</li>
                        <li>Cualquier otra mejora continua en el proceso estratégico de la Organización.</li>
                    </ul>
                </p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Gerencia General</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Documentos y Evidencias</strong>
                </div> 
                <p>De cada reunión de revisión se generará un acta en la cual se plasmarán los temas tratados y el listado de compromisos con responsables y fechas de ejecución y seguimiento.</p>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Indicadores</strong>
                </div> 
                <p>El documento de la Política del SG-SST se encuentra firmado por el representante legal, publicado, fechado, divulgado, incluyendo al COPASST y revisado anualmente.</p>
                <p>Meta:100%</p>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Gerencia General y Administrador del SG SST</div>
            </td>
        </tr>
    </table %>
    <div><br></div>
    <%= render 'firmatodospdf' %>
</div>
<br>
</div>