<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div><br></div>
    <div>
        <strong>ESTRUCTURA</strong>
    </div> 
    <div><br></div>    
    <div>
        <strong>Objetivo</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer los lineamientos para identificar, actualizar, evaluar, publicar y aplicar los requisitos legales que en materia de Seguridad Salud en el Trabajo son de cumplimiento para la organización.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Alcance</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Aplica para todos los procesos de la empresa y partes interesadas en la operación.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 80%;text-align:center;background-color: #00aae4"><strong>PROCEDIMIENTO</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div>
                    <strong>Recopilación de la información </strong>
                </div> 
                <p>En la matriz de requisitos legales, se recopilará la información legal relacionada con un riesgo o aspecto del SG-SST, identificados en la operación de la empresa.</p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div>
                    <strong>Identificación y clasificación de los requisitos</strong>
                </div> 
                <p>Los requisitos aplicables se clasifican inicialmente asociados a un riesgo o aspecto y se relacionan todas las normas aplicables a dicho potencial. Con esto se pretende tener mayor facilidad para su búsqueda y cumplimiento, como:</p>
                <p>
                    <ul>
                        <li>Afiliaciones</li>
                        <li>Riesgos del SG-SST</li>
                        <li>Medicina preventiva y del trabajo</li>
                        <li>Capacitaciones</li>
                        <li>Control de emergencias</li>
                        <li>Elementos de protección </li>
                        <li>Generación de residuos</li>
                        <li>COVID-19</li>
                    </ul>
                </p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div>
                    <strong>Actualización</strong>
                </div> 
                <p>La empresa, de forma sistemática consultará con <strong>los medios de información definidos</strong> los proyectos de ley, nuevos requisitos aplicables al Sistema y derogación de los existentes, actualizando la Matriz de requisitos legales, con la información encontrada.</p>
                <p>En todo caso cualquiera de las partes interesadas, informará a la empresa, sobre cambios ocurridos en la Legislación.</p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Gerencia
                Asesoría legal
                Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div>
                    <strong>Seguimiento</strong>
                </div> 
                <p>Anualmente se realizará un seguimiento a la Matriz de requisitos legales, según los planes de acción definidos para el cumplimiento de la legislación aplicable y verificación de la inclusión de los nuevos requisitos. Esta información servirá de insumo para los informes gerenciales definidos como seguimiento del Sistema.</p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Administrador del SG SST</div>
            </td>
        </tr>
    </table %>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
<br>
</div>