<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    <div><br></div>
    <div>
        <strong>ESTRUCTURA</strong>
    </div> 
    <div><br></div>    
    <div>
        <strong>Objetivo</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer mecanismos eficaces para recibir, documentar, responder, garantizar las comunicaciones internas y externas relativas a la seguridad y salud en el trabajo, y disponer canales que permitan recolectar aportes de las partes interesadas para ser atendidas.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Alcance</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este procedimiento aplica a todos los proveedores, trabajadores en misión, contratistas y trabajadores directos y subcontratistas.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>PLAN DE COMUNICACIÓN </strong>
    </div> 
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 80%;text-align:center;background-color: #00aae4"><strong>PROCEDIMIENTO</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>1. Generación de la información a comunicar </strong>
                </div> 
                <p>El funcionamiento del SG-SST permite que constantemente se genere la necesidad de comunicar los avances, sucesos, cambios, modificaciones y aspectos relevantes susceptibles de ser divulgados.</p>
                <p>Estas necesidades se pueden generar a partir de:</p>
                <p>
                    <ul>
                        <li>Divulgación del SG-SST</li>
                        <li>Inspecciones</li>
                        <li>Reuniones de grupos de apoyo</li>
                        <li>Informes gerenciales</li>
                        <li>Gestión del cambio</li>
                        <li>Jornada de capacitación</li>
                        <li>Reporte de novedades</li>
                        <li>Incidentes y accidentes</li>
                        <li>Auditorías internas y externas</li>
                        <li>Indicadores del SG-SST</li>
                        <li>Inducción del SG-SST</li>
                    </ul>
                </p>
                <p>Cuando alguna de las partes interesadas de la empresa, identifique alguna condición o comportamiento inseguro, que aprecie en los puestos o área de trabajo, orientado a la detección de riesgos para su eliminación, minimización y/o control, deberá comunicarlo.</p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Gerencia Administrador del SG SST Colaboradores Partes interesadas</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>2. Redacción de la información: Tipos de comunicación</strong>
                </div> 
                <div>
                    <strong>2.1. Comunicaciones Internas </strong>
                </div> 
                <p>Son aquellas comunicaciones dirigidas al personal interno de la empresa.</p>
                <p>Los parámetros para este tipo de comunicaciones son: </p>
                <p>
                    <ul>
                        <li>El comunicado será redactado por el emisor (Gerencia, administrador del SG SST, el representante por la alta dirección, los grupos de apoyo o mandos medios) en el formato de reportes y comunicaciones, por medio de correo electrónico, actas de reuniones o similar.</li>
                        <li>El comunicado será enviado y revisado por el administrador del SG-SST para realizar las modificaciones necesarias y posteriormente será publicado por medio de carteleras, correos electrónicos, cartas, y demás medios aprobados para este fin.</li>
                    </ul>
                </p>
                <div><br></div>
                <div>
                    <strong>2.2. Comunicaciones Externas: </strong>
                </div> 
                <p>Son aquellas comunicaciones dirigidas a las partes interesadas (contratistas, terceros, autoridades y público en general).</p>
                <p>Para la redacción de las comunicaciones se tendrán en cuenta los siguientes parámetros: </p>
                <p>
                    <ul>
                        <li>En lo posible los mensajes deben ser positivos y motivadores.</li>
                        <li>Encaminar la información de manera que se muestre los beneficios de una conducta determinada.</li>
                        <li>Claros y concretos.</li>
                        <li>Alineados con el tema del SG-SST</li>
                    </ul>
                </p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Gerencia Administrador del SG SST Colaboradores Partes interesadas</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Respuesta a la participación.</strong>
                </div> 
                <p>Los mecanismos de respuesta a la participación dependerán del medio en que se generen los espacios de participación, las respuestas serán verbales o escritas dependiendo del contexto donde se genere.</p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Identificación de la consulta</strong>
                </div> 
                <p>Como parte activa del sistema cualquier nivel de la organización, podrá acceder a los documentos que soportan el Sistema SST, para   aclarar, reforzar, o retroalimentar algún procedimiento, programa o herramienta.</p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Gerencia Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Canales de consulta:</strong>
                </div> 
                <p>Los canales de consulta definidos serán:</p>
                <p>
                    <ul>
                        <li>El manual del sistema estará disponible en el equipo de Gerencia, administrador del SG SST y representante por la alta dirección.</li>
                        <li>En los documentos del sistema (procedimientos, estándares, manuales).</li>
                        <li>Correos electrónicos.</li>
                    </ul>
                </p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Gerente Administrador del SG SST Representante por la alta dirección.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Resultados de las evidencias.</strong>
                </div> 
                <p>Se podrá evidenciar la participación en:</p>
                <p>
                    <ul>
                        <li>En las reuniones, comités y equipos primarios quedaran plasmados las anotaciones y temas de participación en las actas.</li>
                        <li>En los eventos y procesos de formación, se abrirán espacios de tiempo para la participación de los asistentes motivándolos a generar aportes que contribuyan al mejoramiento continuo del Sistema. Adicionalmente se tendrán evaluaciones de los eventos, donde se medirá entre otros aspectos la oportunidad de participación, respuestas y satisfacción del evento.</li>
                        <li>En las inspecciones quedarán consignadas las personas que participaron en la actividad.</li>
                        <li>En los reportes de los incidentes y accidentes de trabajo, quedaran los aportes y comentarios de las personas que participaron en las investigaciones.</li>
                    </ul>
                </p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;">
                <div><br></div>
                <div>
                    <strong>Documentación de evidencias. </strong>
                </div> 
                <p>Todos los documentos que se generen serán archivados y controlados por el administrador del SG-SST.</p>
                <div><br></div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Administrador del SG SST</div>
            </td>
        </tr>
    </table %>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
<br>
</div>