<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div><br></div>
    <div>
        <strong>ALCANCE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este procedimiento comprende desde la verificación de los elementos y servicios necesarios en el SG SST hasta la evaluación de su correcta asignación. Es aplicado por los responsables del SG-SST del proceso administrativo y financiero de la organización y se articula con el Presupuesto del SG SST; impactando a todos los niveles de la organización incluyendo personal vinculado y contratista por prestación de servicios.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>RESPONSABLES</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Administración financiera y contable</strong>
    </div> 
    <div><br></div>
    <p>
        <ul>
            <li>Garantizar la gestión y ejecución de los recursos financieros, humanos y tecnológicos con el fin de destinarlos al SG SST.</li>
        </ul>
    </p>
    <div><br></div>
    <div>
        <strong>Directores de procesos</strong>
    </div> 
    <div><br></div>
    <p>
        <ul>
            <li>Asignar recursos para la ejecución de actividades enfocadas a garantizar la implementación del SG SST.</li>
        </ul>
    </p>
    <div><br></div>
    <div>
        <strong>Trabajadores</strong>
    </div> 
    <div><br></div>
    <p>
        <ul>
            <li>Participar de forma activa en las actividades promoción y prevención encaminadas a mejorar las condiciones de salud y seguridad en el trabajo de los empleados de <strong><%= @entity.business_name if @entity.present? %>.</strong></li>
        </ul>
    </p>
    <div><br></div>
    <div>
        <strong>DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <p><strong>Salud y Seguridad en el trabajo: </strong>Se busca promover en los ambientes laborales condiciones y procedimientos de trabajo óptimos y generar en la población trabajadora la adopción de comportamientos seguros en sus lugares de trabajo y en el ámbito extra laboral. (Autocuidado, alimentación sana, trabajo y familia, prevención de acciones, sexualidad y familia, trabajo y salud).</p>
    <div><br></div>
    <p><strong>Autocuidado: </strong>Conjunto de acciones intencionadas que realiza o realizaría la persona para controlar los factores internos o externos, que pueden comprometer su vida y desarrollo posterior.</p>
    <div><br></div>
    <p><strong>Recursos: </strong>Un recurso es un medio de cualquier clase, que permite obtener algo que se desea o se necesita.</p>
    <div><br></div>
    <p><strong>Sistema de Gestión en Seguridad y Salud en el Trabajo: </strong>Consiste en el desarrollo de un proceso lógico y por etapas, basado en la mejora continua y que incluye la política, la organización, la planificación, la aplicación, la evaluación, la auditoría y las acciones de mejora con el objetivo de anticipar, reconocer, evaluar y controlar los riesgos que puedan afectar la seguridad y salud en el trabajo. Su ejecución es permanente, como un proceso de mejoramiento continuo de las condiciones de trabajo.</p>
    <div><br></div>
    <div>
        <strong>RECURSOS</strong>
    </div> 
    <div><br></div>
    <p><strong>* Humanos</strong></p>
    <div><br></div>
    <p>Los recursos humanos contemplan aspectos de capacitación y funciones directas en la gestión del sistema de seguridad y salud en el trabajo, para <strong><%= @entity.business_name if @entity.present? %></strong>, es imperativo la seguridad y salud de todos los colaboradores en su ambiente laboral, por tanto, se contrata por prestación de servicios asesoría externa en SST, las responsabilidades en la organización se le designan al responsable de implementar y ejecutar el SG SST que en este caso es el auxiliar de Talento Humano asignando las responsabilidades en el cumplimiento de las normas, procedimientos, programas, formatos y demás que su trabajo demande para llevar a cabo.</p>
    <div><br></div>
    <p><strong>* Tecnológicos</strong></p>
    <div><br></div>
    <p>Los recursos tecnológicos contemplan aspectos de inversión en equipos utilizados y su mantenimiento en la implementación y desarrollo del SG-SST.</p>
    <div><br></div>
    <p><strong>* Financieros</strong></p>
    <div><br></div>
    <p>Los recursos financieros integran, las inversiones económicas en los aspectos anteriores y otros que la empresa identifica para desarrollo del SG-SST.</p>
    <p>La empresa podrá incluir las inversiones que consideren contribuyen a la gestión en SST.</p>
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 10%;text-align:center;background-color: #00aae4"><strong>No.</strong></td>
            <td style="border:1px solid black; width: 35%;text-align:center;background-color: #00aae4"><strong>ACTIVIDAD</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
            <td style="border:1px solid black; width: 35%;text-align:center;background-color: #00aae4"><strong>DESCRIPCIÓN DE LA ACTIVIDAD</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 20px;text-align:center;">
                <div>1</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 20px;text-align:jutify;">
                <div>Gestionar la asignación de recursos para la implementación del Sistema General de Salud y Seguridad en el Trabajo.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 20px;text-align:jutify;">
                <div>Responsable SST.</div>
            </td>
            <td style="border:1px solid black; width: 35%;padding: 20px;text-align:jutify;">
                <div>Solicitar a la dirección financiera que incluya en la ejecución presupuestal anual, los recursos necesarios para la implementación,	y mantenimiento del Sistema General de Salud y Seguridad en el trabajo.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 20px;text-align:center;">
                <div>2</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 20px;text-align:jutify;">
                <div>Planear las diferentes actividades relacionadas con el Sistema General de Salud y Seguridad en el trabajo para los empleados.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 20px;text-align:jutify;">
                <div>Responsable SST.</div>
            </td>
            <td style="border:1px solid black; width: 35%;padding: 20px;text-align:jutify;">
                <div>Plasmar en el componente del presupuesto de Salud y Seguridad en el Trabajo las actividades de PyP tendientes a mejorar las condiciones de salud y seguridad de los Empleados.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 10%;padding: 20px;text-align:center;">
                <div>3</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 20px;text-align:jutify;">
                <div>Ejecutar las actividades descritas en el componente de Salud y Seguridad en el trabajo, contenido en el plan de trabajo.</div>
            </td>
            <td style="border:1px solid black; width: 20%;padding: 20px;text-align:jutify;">
                <div>Responsable SST.</div>
            </td>
            <td style="border:1px solid black; width: 35%;padding: 20px;text-align:jutify;">
                <div>Actividades relacionadas con la Promoción de hábitos seguros en el trabajo y prevención de accidentes laborales e incidentes y/o enfermedades laborales.</div>
            </td>
        </tr>
    </table %>
    <div><br></div>
    <div><br></div>
    <%= render 'firmatodos' %>
</div>
<br>
</div>