<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    <div><br></div>
    <div>
        <strong>OBJETIVO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Conocer la caracterización y causalidad de los accidentes e incidentes de trabajo e impactos ambientales que ocurren en la empresa y sus partes interesadas y definir sus medidas de control para evitar que se repitan.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ALCANCE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Aplica para todas las partes interesadas de la empresa, directas y contratistas.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Definiciones</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>* Accidente grave: </strong>Aquel que trae como consecuencia amputación de cualquier segmento corporal; fractura de huesos largos (fémur, tibia, peroné, húmero, radio y cúbito); trauma craneoencefálico; quemaduras de segundo y tercer grado; lesiones severas de mano, tales como aplastamiento o quemaduras; lesiones severas de columna vertebral con compromiso de médula espinal; lesiones oculares que comprometan la agudeza o el campo visual o lesiones que comprometan la capacidad auditiva.</p>
                <p><strong>* Aportantes: </strong>Empleadores públicos y privados, contratantes de personal bajo modalidad de contrato civil, comercial o administrativo; a las organizaciones de economía solidaria y del sector cooperativo, a las agremiaciones u asociaciones autorizadas para realizar la afiliación colectiva de trabajadores independientes al Sistema de Seguridad Social Integral.</p>
                <p><strong>* Causas básicas: </strong>Causas reales que se manifiestan detrás de los síntomas; razones por las cuales ocurren los actos y condiciones subestándares o inseguros; factores que una vez identificados permiten un control administrativo significativo. Las causas básicas ayudan a explicar por qué se cometen actos subestándares o inseguros y por qué existen condiciones subestándares o inseguras.</p>
                <p><strong>* Causas inmediatas: </strong>Circunstancias que se presentan justamente antes del contacto; por lo general son observables o se hacen sentir. Se clasifican en actos subestándares o actos inseguros (comportamientos que podrían dar paso a la ocurrencia de un accidente o incidente) y condiciones subestándares o condiciones inseguras (circunstancias que podrían dar paso a la ocurrencia de un accidente o incidente). </p>
                <p><strong>* ARL: </strong>Administradora de Riesgos Laborales</p>
                <p><strong>* EPS: </strong>Entidad Promotora de Salud</p>
                <p><strong>* FUREL: </strong>Formato único de reporte de enfermedades laborales.</p>
                <p><strong>* FURAT: </strong>Formato único de reporte de presunto accidente de trabajo.</p>
                <p><strong>* Investigación de accidente o incidente: </strong>Proceso sistemático de determinación y ordenación de causas, hechos o situaciones que generaron o favorecieron la ocurrencia del accidente o incidente, que se realiza con el objeto de prevenir su repetición, mediante el control de los riesgos que lo produjeron.</p>
                <p><strong>* Incidente de trabajo: </strong>Suceso acaecido en el curso del trabajo o en relación con este, que tuvo el potencial de ser un accidente, en el que hubo personas involucradas sin que sufrieran lesiones o se presentaran daños a la propiedad y/o pérdida en los procesos.</p>
                <p><strong>* SVE: </strong>Sistema de Vigilancia Epidemiológico</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 70%;text-align:center;background-color: #00aae4"><strong>PROCEDIMIENTO ACCIDENTE E INCIDENTE</strong></td>
            <td style="border:1px solid black; width: 30%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>1. Ocurrencia de incidente o accidente del personal vinculado o contratista que pueda ocurrir con ocasión o como consecuencia del trabajo que desarrolla dentro o fuera de las instalaciones de la empresa. </div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>NA</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>2. El empleado accidentado o testigo del accidente reporta el suceso ocurrido al jefe inmediato, el administrador del SG-SST, el representante por la alta dirección o la persona delegada para ello.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Lesionado o testigo del evento</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>3. De ser necesario se prestará atención de primeros auxilios por parte de la brigada.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Brigada de emergencias.</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>4. Si el empleado es vinculado, el administrador del SG-SST, el representante por la alta dirección o la persona delegada para ello realiza reporte vía telefónica o por medio de la página de ARL.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST, el representante por la alta dirección o la persona delegada para ello</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>4.1. Si el empleado es un contratista, el jefe inmediato, el administrador del SG-SST, el representante por la alta dirección o la persona delegada para ello, comunica a la empresa contratista para notificar el accidente de trabajo a su respectiva ARL y direccionar la atención requerida. </div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Jefe inmediato, el administrador del SG-SST, el representante por la alta dirección o la persona delegada para ello</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>5. El administrador del SG-SST dentro de los dos días hábiles siguientes de ocurrido el accidente diligencia la información del FURAT en el aplicativo de la ARL y simultáneamente notifica a la entidad promotora de salud.</br><strong>NOTA:</strong> En los casos de accidente grave o mortal se debe notificar al ministerio de trabajo.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>6.  Se convoca el equipo investigador que esta conformado por, el jefe inmediato o supervisor del trabajador, un representante del COPASST o Vigía y el administrador del SG-SST.</br><strong>NOTA:</strong> Si no se cuenta con la estructura mencionada anteriormente se deberá conformar un equipo investigador por trabajadores capacitados para tal fin.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>7. Se investiga el accidente de trabajo dentro de los siguientes 15 días calendario, utilizando el formato de ARL, versión libre del trabajador escrita por este y firmada con documento de identidad, versión libre del testigo si aplica, carta de compromiso y lesión aprendida.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>7.1. Para la investigación de accidente de trabajo de un contratista la responsabilidad de la investigación será tanto como de la empresa contratista como de nuestra empresa.</br><strong>NOTA:</strong> Entregables de la investigación de accidentes </div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>
                    <p>* FURAT.</p>
                    <p>* Radicado al Ministerio de Trabajo (Cuando se presenta un accidente grave o mortal).</p>
                    <p>* Radicado EPS (Notificación del evento a la EPS).</p>
                    <p>* Investigación del accidente, diligenciado y firmado de acuerdo con la resolución 1401 de 2007.</p>
                    <p>* Informe de investigación de la ARL con las recomendaciones cuando sea accidente grave o mortal.</p>
                    <p>* Evidencias de las medidas de intervención.</p>
                    <p>* Soporte del cierre del accidente generado por ARL.</p>
                </div> 
                <div>
                    <p>Entregables de la investigación de incidentes</p>
                    <p>* Informe de investigación del incidente de trabajo que cumpla con las directrices de la resolución 1401 de 2007.</p>
                    <p>* Evidencias de las medidas de intervención.</p>
                </div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>SST del contratista</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>8. Durante la investigación se registra la información que conduzca a la identificación de las causas reales del accidente o incidente de trabajo y se deja estipulado las medidas y acciones correctivas que recomiende el equipo investigador usando la metodología de árbol de causas.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>9. Se registran las medidas y acciones correctivas que, como producto de la investigación, recomiende el equipo investigador.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>10. Al finalizar la investigación firma todo el equipo investigador.</br><strong>NOTA:</strong> Si el accidente es grave o mortal participara un profesional con licencia en SST, propio o contratado.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>11. Se realiza seguimiento periódico a los planes de acción para verificar la efectividad de los correctivos usando la matriz de seguimiento a planes acción.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>12. Si el accidente ocurrido no está valorado dentro de la matriz de peligros se actualiza dejando evidencia en el cuadro control de cambios.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>13. Divulgar al área la lección aprendida por medio de los canales definidos en comunicación participación y consulta.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
    </table>
    <div><br></div>    
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 70%;text-align:center;background-color: #00aae4"><strong>PROCEDIMIENTO ENFERMEDAD LABORAL</strong></td>
            <td style="border:1px solid black; width: 30%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>1. Cuando un empleado presenta síntomas y/o signos de una presunta enfermedad laboral debe asistir a la EPS a la cual se encuentra afiliado.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Trabajador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>2. El empleado debe informar el concepto médico de la EPS si se tiene sospecha o aparición de una presunta enfermedad laboral</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Trabajador </div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>3. Para establecer la relación de causalidad de la presunta enfermedad laboral, la EPS solicita entre otros los siguientes documentos.</div> 
                <div>
                    <p>* Certificado de cargos y labores desempeñados </p>
                    <p>* ATS</p>
                    <p>* Estudio de puesto de trabajo</p>
                    <p>* Reportes de accidentes de trabajo, enfermedades laborales calificadas</p>
                    <p>* Copia del contrato de trabajo </p>
                    <p>* Certificado de afiliación al sistema general de seguridad social.</p>
                    <p>* Matriz de peligros y riesgos </p>
                </div>
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>EPS – administrador del SG-SST. </div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>4. La ARL notifica a la empresa el concepto de aceptación del origen de la enfermedad en estudio.</br><strong>NOTA: </strong>A partir de la fecha de notificación el empleado contara con 10 días hábiles para apelar o no el reporte emitida.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>ARL</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>4.1. Si el empleado apela se remite a la junta regional de calificación de invalidez quien determinara el origen o no de la presunta enfermedad laboral. </div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Trabajador </div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>5.  Se convoca el equipo investigador que está conformado por, el jefe inmediato o supervisor del trabajador, un representante del COPASST o Vigía, el administrador del SG-SST y se recomienda tener un especialista del área de la salud según la patología diagnosticada.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>6. Se investiga la enfermedad laboral dentro de los siguientes 15 días calendario, utilizando el FUREL.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>7. Durante la investigación se registra la información que conduzca a la identificación de las causas reales de la enfermedad calificada y se deja estipulado las medidas y acciones correctivas que recomiende el equipo investigador usando la metodología de árbol de causas. </div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>8. Se registran las medidas y acciones correctivas que, como producto de la investigación, recomiende el equipo investigador.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>9. Al finalizar la investigación firma todo el equipo investigador. </div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Equipo investigador</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>10. Se realiza seguimiento periódico a los planes de acción para verificar la efectividad de los correctivos usando la matriz de seguimiento a planes acción.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>11. Si la enfermedad calificada no está valorada dentro de la matriz de peligros se actualiza dejando evidencia en el cuadro control de cambios.</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 70%;padding: 10px;text-align:justify;">
                <div>12. Según la patología diagnosticada, se incluirá al trabajador el SVE pertinente y se realizará seguimiento periódico a las recomendaciones médicas emitidas. </div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Administrador del SG-SST</div> 
            </td>
        </tr>
    </table>

    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
<br>
</div>