<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div><br></div>
    <div style="text-align:center">
        <strong>INTRODUCCIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El plan de trabajo es un instrumento de planificación, el cual ordena la información de modo que pueda tenerse una visión de las actividades a realizar, los responsables, los recursos y los tiempos de ejecución mediante un cronograma.</p>
                <p>Teniendo en cuenta que responde a unos objetivos cuyo marco de referencia es la Política de Seguridad y Salud en el Trabajo.</p>
                <p>En la planificación, la etapa de contexto interno y externo de <strong><%= @entity.business_name if @entity.present? %></strong> y el diagnóstico de la situación actual (línea de base) preceden a la definición de los objetivos los cuales se logran a través de los programas/planes.</p>
                <p>El plan de trabajo resulta, entonces, de un proceso de concertación de carácter dinámico, y se constituye en una opción práctica para desarrollar los programas/planes de Seguridad y Salud en el Trabajo, que, adicionalmente, permite realizar seguimiento a la ejecución y facilita el proceso de evaluación y ajustes.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>1. OBJETIVO DEL SGSST</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Planificar las actividades para alcanzar los objetivos y metas propuestos en el Sistema de Gestión de la Seguridad y Salud en el Trabajo, para la protección y promoción de la salud de los servidores públicos y contratistas, en cumplimiento de la normatividad y políticas.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2. ALCANCE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El plan de trabajo anual de seguridad y salud en el trabajo aplica a todos los servidores de los diferentes centros de trabajo que componen la EFR S.A.S.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3. TÉRMINOS Y DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>* ACCIÓN CORRECTIVA: </strong> Acción tomada para eliminar la causa de una no conformidad detectada u otra situación no deseable.</p>
                <p><strong>* ACCIÓN DE MEJORA: </strong>Acción de optimización del Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST), para lograr mejoras en el desempeño de la organización en la seguridad y la salud en el trabajo de forma coherente con su política.</p>
                <p><strong>* ACCIÓN PREVENTIVA: </strong>Acción para eliminar o mitigar la(s) causa(s) de una no conformidad u otra situación potencial no deseable.</p>
                <p><strong>* ACTIVIDAD NO RUTINARIA: </strong>Actividad que no forma parte de la operación normal de la organización o actividad que la organización ha determinado como no rutinaria por su baja frecuencia de ejecución.</p>
                <p><strong>* ACTIVIDAD RUTINARIA: </strong>Actividad que forma parte de la operación normal de la organización, se ha planificado y es estandarizable.</p>
                <p><strong>* ALTA DIRECCIÓN: </strong>Persona o grupo de personas que dirigen y controlan una empresa.</p>
                <p><strong>* AMENAZA: </strong>Peligro latente de que un evento físico de origen natural, o causado, o inducido por la acción humana de manera accidental, se presente con una severidad suficiente para causar pérdida de vidas, lesiones u otros impactos en la salud, así como también daños y pérdidas en los bienes, la infraestructura, los medios de sustento, la prestación de servicios y los recursos ambientales.</p>
                <p><strong>* AUTO REPORTÉ DE CONDICIONES DE TRABAJO Y SALUD: </strong> Proceso mediante el cual el trabajador o contratista reporta por escrito al empleador o contratante las condiciones adversas de seguridad y salud que identifica en su lugar de trabajo.</p>
                <p><strong>* CENTRO DE TRABAJO: </strong>Se entiende por Centro de Trabajo a toda edificación o área a cielo abierto destinada a una actividad económica en una empresa determinada.</p>
                <p><strong>* CICLO PHVA: </strong>Procedimiento lógico y por etapas que permite el mejoramiento continuo a través de los siguientes pasos:</p>
                <p>- PLANIFICAR: Se debe planificar la forma de mejorar la seguridad y salud de los trabajadores, encontrando qué cosas se están haciendo incorrectamente o se pueden mejorar y determinando ideas para solucionar esos problemas.</p>
                <p>- HACER: Implementación de las medidas planificadas.</p>
                <p>- VERIFICAR: Revisar que los procedimientos y acciones implementados están consiguiendo los resultados deseados.</p>
                <p>- ACTUAR: Realizar acciones de mejora para obtener los mayores beneficios en la seguridad y salud de los trabajadores.</p>
                <p><strong>* CONDICIONES Y MEDIO AMBIENTE DE TRABAJO: </strong>Aquellos elementos, agentes o factores que tienen influencia significativa en la generación de riesgos para la seguridad y salud de los trabajadores quedan específicamente incluidos en esta definición, entre otros:</p>
                <p>a) Las características generales de los locales, instalaciones, máquinas, equipos, herramientas, materias primas, productos y demás útiles existentes en el lugar de trabajo;</p>
                <p>b) Los agentes físicos, químicos y biológicos presentes en el ambiente de trabajo y sus correspondientes intensidades, concentraciones o niveles de presencia;</p>
                <p>c) Los procedimientos para la utilización de los agentes citados en el apartado anterior, que influyan en la generación de riesgos para los trabajadores y; d) La organización y ordenamiento de las labores, incluidos los factores ergonómicos o biomecánicos y psicosociales.</p>
                <p><strong>* DESCRIPCIÓN SOCIODEMOGRÁFICA: </strong>Perfil sociodemográfico de la población trabajadora, que incluye la descripción de las características sociales y demográficas de un grupo de trabajadores, tales como: grado de escolaridad, ingresos, lugar de residencia, composición familiar, estrato socioeconómico, estado civil, raza, ocupación, área de trabajo, edad, sexo y turno de trabajo.</p>
                <p><strong>* EFECTIVIDAD: </strong>Logro de los objetivos del Sistema de Gestión de la Seguridad y Salud en el Trabajo con la máxima eficacia y la máxima eficiencia.</p>
                <p><strong>* EFICACIA: </strong>Es la capacidad de alcanzar el efecto que espera o se desea tras la realización de una acción.</p>
                <p><strong>* EFICIENCIA: </strong>Relación entre el resultado alcanzado y los recursos utilizados.</p>
                <p><strong>* EMERGENCIA: </strong>Es aquella situación de peligro o desastre o la inminencia del mismo, que afecta el funcionamiento normal de la empresa. Requiere de una reacción inmediata y coordinada de los trabajadores, brigadas de emergencias y primeros auxilios y en algunos casos de otros grupos de apoyo dependiendo de su magnitud.</p>
                <p><strong>* EVALUACIÓN DEL RIESGO: </strong>Proceso para determinar el nivel de riesgo asociado al nivel de probabilidad de que dicho riesgo se concrete y al nivel de severidad de las consecuencias de esa concreción.</p>
                <p><strong>* EVENTO CATASTRÓFICO: </strong>Acontecimiento imprevisto y no deseado que altera significativamente el funcionamiento normal de la empresa, implica daños masivos al personal que labora en instalaciones, parálisis total de las actividades de la empresa o una parte de ella y que afecta a la cadena productiva, o genera destrucción parcial o total de una instalación.</p>
                <p><strong>* IDENTIFICACIÓN DEL PELIGRO: </strong>Proceso para establecer si existe un peligro y definir las características de este.</p>
                <p><strong>* INDICADORES DE ESTRUCTURA: </strong>Medidas verificables de la disponibilidad y acceso a recursos, políticas y organización con que cuenta la empresa para atender las demandas y necesidades en Seguridad y Salud en el Trabajo.</p>
                <p><strong>* INDICADORES DE PROCESO: </strong>Medidas verificables del grado de desarrollo e implementación del SG-SST.</p>
                <p><strong>* INDICADORES DE RESULTADO:</strong>Medidas verificables de los cambios alcanzados en el periodo definido, teniendo como base la programación hecha y la aplicación de recursos propios del programa o del sistema de gestión.</p>
                <p><strong>* MATRIZ LEGAL:</strong>Es la compilación de los requisitos normativos exigibles a la empresa acorde con las actividades propias e inherentes de su actividad productiva, los cuales dan los lineamientos normativos y técnicos para desarrollar el Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST), el cual deberá actualizarse en la medida que sean emitidas nuevas disposiciones aplicables.</p>
                <p><strong>* MEJORA CONTINUA: </strong>Proceso recurrente de optimización del Sistema de Gestión de la Seguridad y Salud en el Trabajo, para lograr mejoras en el desempeño en este campo, de forma coherente con la política de Seguridad y Salud en el Trabajo (SST) de la organización.</p>
                <p><strong>* NO CONFORMIDAD: </strong>No cumplimiento de un requisito. Puede ser una desviación de estándares, prácticas, procedimientos de trabajo, requisitos normativos aplicables, entre otros.</p>
                <p><strong>* PELIGRO: </strong>Fuente, situación o acto con potencial de causar daño en la salud de los trabajadores, en los equipos o en las instalaciones.</p>
                <p><strong>* POLÍTICA DE SEGURIDAD Y SALUD EN EL TRABAJO: </strong>Es el compromiso de la alta dirección de una organización con la seguridad y la salud en el trabajo, expresadas formalmente, que define su alcance y compromete a toda la organización.</p>
                <p><strong>* REGISTRO: </strong>Documento que presenta resultados obtenidos o proporciona evidencia de las actividades desempeñadas.</p>
                <p><strong>* RENDICIÓN DE CUENTAS: </strong>Mecanismo por medio del cual las personas e instituciones informan sobre su desempeño.</p>
                <p><strong>* REVISIÓN PROACTIVA: </strong>Es el compromiso del empleador o contratante que implica la iniciativa y capacidad de anticipación para el desarrollo de acciones preventivas y correctivas, así como la toma de decisiones para generar mejoras en el SG-SST.</p>
                <p><strong>* REVISIÓN REACTIVA: </strong>Acciones para el seguimiento de enfermedades laborales, incidentes, accidentes de trabajo y ausentismo laboral por enfermedad.</p>
                <p><strong>* REQUISITO NORMATIVO: </strong>Requisito de seguridad y salud en el trabajo impuesto por una norma vigente y que aplica a las actividades de la organización.</p>
                <p><strong>* RIESGO: </strong>Combinación de la probabilidad de que ocurra una o más exposiciones o eventos peligrosos y la severidad del daño que puede ser causada por estos.</p>
                <p><strong>* VALORACIÓN DEL RIESGO: </strong>Consiste en emitir un juicio sobre la tolerancia o no del riesgo estimado.</p>
                <p><strong>* VIGILANCIA DE LA SALUD EN EL TRABAJO O VIGILANCIA EPIDEMIOLÓGICA DE LA SALUD EN EL TRABAJO: </strong>Comprende la recopilación, el análisis, la interpretación y la difusión continuada y sistemática de datos a efectos de la prevención. La vigilancia es indispensable para la planificación, ejecución y evaluación de los programas de seguridad y salud en el trabajo, el control de los trastornos y lesiones relacionadas con el trabajo y el ausentismo laboral por enfermedad, así como para la protección y promoción de la salud de los trabajadores.</p>
                <p><strong>* ACCIDENTE DE TRABAJO: </strong>Es accidente de trabajo todo suceso repentino que sobrevenga por causa o con ocasión del trabajo, y que produzca en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte.</p>
                <p></p>
                <p>Es también accidente de trabajo aquel que se produce durante la ejecución de órdenes del empleador, o contratante durante la ejecución de una labor bajo su autoridad, aún fuera del lugar y horas de trabajo.</p>
                <p>Igualmente se considera accidente de trabajo el que se produzca durante el traslado de los trabajadores o contratistas desde su residencia a los lugares de trabajo o viceversa, cuando el transporte lo suministre el empleador.</p>
                <p>También se considerará como accidente de trabajo el ocurrido durante el ejercicio de la función sindical, aunque el trabajador se encuentre en permiso sindical siempre que el accidente se produzca en cumplimiento de dicha función.</p>
                <p>De igual forma se considera accidente de trabajo el que se produzca por la ejecución de actividades recreativas, deportivas o culturales, cuando se actúe por cuenta o en representación del empleador o de la empresa usuaria cuando se trate de trabajadores de empresas de servicios temporales que se encuentren en misión.</p>
                <p><strong>* ENFERMEDAD LABORAL: </strong>Es enfermedad laboral la contraída como resultado de la exposición a factores de riesgo inherentes a la actividad laboral o del medio en el que el trabajador se ha visto obligado a trabajar. El Gobierno Nacional, determinará, en forma periódica, las enfermedades que se consideran como laborales y en los casos en que una enfermedad no figure en la tabla de enfermedades laborales, pero se demuestre la relación de causalidad con los factores de riesgo ocupacional será reconocida como enfermedad laboral, conforme lo establecido en las normas legales vigentes.</p>
                <p><strong>* INCIDENTE DE TRABAJO: </strong>Suceso acaecido en el curso del trabajo o en relación con este, que tuvo el potencial de ser un accidente, en el que hubo personas involucradas sin que sufrieran lesiones o se presentaran daños a la propiedad y/o pérdida en los procesos.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4. NORMATIVIDAD</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La normatividad legal vigente aplicable al Sistema de Gestión de la Seguridad y Salud en el Trabajo – SGSST, se encuentra identificada en la Matriz de Requisitos Legales.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5. PLAN DE TRABAJO DEL SGSST</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El plan de trabajo anual es uno de los resultados del proceso de implementación del SGSST, en donde se establece la meta para el 2022, las responsabilidades, los recursos, y cronograma de actividades, en concordancia con los estándares mínimos establecidos en la Resolución 0312 de2019.</p>
                <p>La planeación de las actividades a desarrollar en el Sistema de Seguridad y Salud en el Trabajo para la vigencia 2022, obedece a:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p> 1. Cumplimiento de los requisitos aplicables al SGSST de la EFR S.A.S.</p>
                <p> 2. Oportunidades de mejora establecidas en la Auditoría por la ARL – POSITIVA en 2021, y plan de mejoramiento realizada por la Oficina de Control Interno.</p>
                <p> 3. Autoevaluación del cumplimiento de los estándares mínimos de SG-SST aplicados en la vigencia 2021.</p>
                <p> 4. Diagnóstico de condiciones de salud 2021 de los servidores públicos.</p>
                <p> 5. Las recomendaciones de los comités como COPASST, brigada de Emergencia, y Comité de Convivencia.</p>
                <p> 6. La Identificación de peligros, valoración de riesgos y determinación de controles.</p>
                <p> 7. Las estadísticas de Accidentalidad y Enfermedad Laboral</p>
                <p> 8. Los programas soporte del SGSST.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5.1. ESTRUCTURACIÓN DEL PLAN DE TRABAJO DEL SGSST</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La estructura del Plan Anual de Trabajo SGSST 2022, está diseñado basado en los principios del ciclo PHVA (Planificar, Hacer, Verificar y Actuar), así como los estándares mínimos del Sistema de gestión requeridos en la Resolución 0312 de 2019.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>Ciclo</strong></td>
            <td style="border:1px solid black; width: 80%;text-align:center;background-color: #00aae4"><strong>Actividades</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div><strong>Planear</strong></div> 
            </td>
            <td style="border:1px solid black; width: 80%;padding: 10px;text-align:justify;">
                <div>
                    <p>
                        <ul>
                            <li>Recursos</li>
                            <li>Capacitación en el Sistema de Gestión de Seguridad y Salud en elTrabajo</li>
                            <li>Política de Seguridad y Salud en el Trabajo</li>
                            <li>Objetivos del Sistema de Gestión de Seguridad y Salud en el TrabajoSG-SST</li>
                            <li>Evaluación inicial del Sistema de Gestión – Seguridad y Salud en elTrabajo</li>
                            <li>Plan Anual de Trabajo</li>
                            <li>Conservación de la documentación</li>
                            <li>Rendición de cuentas</li>
                            <li>Normativa nacional vigente y aplicable en materia de Seguridad y Salud en el Trabajo.</li>
                            <li>Mecanismos de Comunicación. Adquisiciones</li>
                            <li>Contratación Gestión del cambio</li>
                        </ul>
                    </p>
                </div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div><strong>Hacer</strong></div> 
            </td>
            <td style="border:1px solid black; width: 80%;padding: 10px;text-align:justify;">
                <div>
                    <p>
                        <ul>
                            <li>Condiciones de salud en el trabajo</li>
                            <li>Registro, reporte e investigación de las enfermedades laborales, incidentes y accidentes del trabajo</li>
                            <li>Mecanismos de vigilancia de las condiciones de salud de los trabajadores.</li>
                            <li>Identificación de peligros, evaluación y valoración de los riesgos</li>
                            <li>Medidas de prevención y control para intervenir los peligros/riesgos</li>
                            <li>Plan de prevención, preparación y respuestas ante Emergencias</li>
                        </ul>
                    </p>
                </div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div><strong>Verificar</strong></div> 
            </td>
            <td style="border:1px solid black; width: 80%;padding: 10px;text-align:justify;">
                <div>
                    <p>
                        <ul>
                            <li>Gestión y resultados del Sistema de Gestión de Seguridad y Salud en elTrabajo</li>
                        </ul>
                    </p>
                </div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div><strong>Actuar</strong></div> 
            </td>
            <td style="border:1px solid black; width: 80%;padding: 10px;text-align:justify;">
                <div>
                    <p>
                        <ul>
                            <li>Acciones preventivas y correctivas con base en los resultados delSistema de Gestión de Seguridad y Salud en el Trabajo.</li>
                        </ul>
                    </p>
                </div> 
            </td>
        </tr>
    </table>
    <div><br></div>    
    <div>
        <strong>5.2. OBLIGACIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Plan Anual de Trabajo SGSST 2022, de <strong><%= @entity.business_name if @entity.present? %></strong> debe estar firmado por el responsable del Sistema de Gestión de la Seguridad y Salud en el Trabajo (SGSST) y la Gerente de la EFR.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5.3. RECURSOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se establecen los recursos financieros, técnicos y humanos necesarios para el diseño, implementación, revisión, evaluación y mejora de las medidas de prevención y control para la gestión eficaz de los peligros y riesgos en el lugar de trabajo, con el fin de que los responsables de seguridad y salud en el trabajo de la Empresa, el COPASST y Comité de Convivencia Laboral, pueden cumplir de manera satisfactoria con sus funciones.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5.4. COMUNICACIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Todas las actividades realizadas en el SGSST de la Empresa Férrea se comunicarán a todos los servidores públicos, contratistas, proveedores y visitantes, con base en los lineamientos establecidos por la Oficina Asesora de Comunicaciones.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
<br>
</div>