<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    <div><br></div>
    <div style="text-align:center">
        <strong>ESTRUCTURA</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Actividad</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Definición del protocolo para establecer las acciones de mejora del Sistema y así eliminar la causa de los problemas relacionados con SST en la empresa.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Objetivo</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>- Identificar y analizar las causas fundamentales de las no conformidades con base en lo establecido en el SG SST y las demás disposiciones que regulan los aspectos del Sistema General de Riesgos Laborales.</p>
                <p>- La adopción, planificación, aplicación, comprobación de la eficacia y documentación de las medidas preventivas y correctivas.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Alcance</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Aplica para todos los procesos del personal de la organización y sus partes interesadas.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Acción correctiva: </strong>Es aquella que llevamos a cabo para eliminar la causa de un problema. Las correcciones atacan los problemas, las acciones correctivas sus causas. </p>
                <p><strong>Acciones preventivas: </strong>Se anticipan a la causa, y pretenden eliminarla antes de su existencia.</p>
                <p><strong>Corrección: </strong>Acción tomada para eliminar una no conformidad detectada</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 90%;text-align:center;background-color: #00aae4"><strong>PROCEDIMIENTO</strong></td>
            <td style="border:1px solid black; width: 10%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 90%;padding: 10px;text-align:justify;">
                <div>Analizar la causalidad de las acciones en las Reuniones de gerencia, aportar el recurso para las correcciones del sistema y definir recursos y nuevas políticas para el sistema de SST.</div> 
                <div>Revisar las no conformidades, y determinar/decidir sobre el inicio de acciones correctivas o preventivas.</div> 
                <div>Realizar el seguimiento de las acciones con los responsables de llevarlas a cabo.</div> 
                <div>Informar a Gerencia de los resultados de las acciones y su evolución.</div> 
                <div>Dirigir a los miembros del equipo que efectúa la acción y solicitar los recursos necesarios para llevarla a cabo.</div> 
                <div>Establecer planes para la ejecución de las acciones y realizar informes sobre las mismas. Revisar la documentación correspondiente al / los procesos.</div> 
                <div>Aportar soluciones y trabajar en equipo para llevar a buen término las acciones correctivas, preventivas, o de mejora. </div> 
                <div><strong>Procedimiento:</strong></div> 
                <div>1. El Administrador del SG SST será el responsable de todas las acciones correctivas iniciadas por desviaciones del sistema. Así mismo tiene la autoridad para decidir sobre la necesidad de iniciar acciones correctivas, especialmente en los casos de repetición continuada de los problemas.</div> 
                <div>En todo caso para el inicio de una acción correctiva se debe seguir la siguiente ruta:</div> 
                <div>
                    <%= wicked_pdf_image_tag asset_path('pacpmimag1.png'), height: "400", width: "auto" %>
                </div> 
            </td>
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:justify;">
                <div>Responsable  SG SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 90%;padding: 10px;text-align:justify;">
                <div>2. Desarrollo y cierre de las acciones correctivas:</div> 
                <div>El siguiente proceso define el método y los criterios para controlar el desarrollo de las acciones correctivas y decidir sobre su cierre.</div> 
                <div>
                    <%= wicked_pdf_image_tag asset_path('pacpmimag2.png'), height: "400", width: "auto" %>
                </div> 
                <div>
                    <%= wicked_pdf_image_tag asset_path('pacpmimag3.png'), height: "600", width: "auto" %>
                </div> 
            </td>
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:justify;">
                <div>Responsable  SG SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 90%;padding: 10px;text-align:justify;">
                <div><strong>Acciones preventivas</strong></div> 
                <div>Las acciones preventivas son un tipo especial de acción que está enfocada hacia la prevención, introduciendo modificaciones en los procedimientos del modelo y criterios en aquellas partes del sistema que pueden constituir fuentes de no conformidades en el futuro.</div> 
                <div><strong>-	Inicio de las acciones preventivas</strong></div> 
                <div>Las acciones preventivas se inician cuando algún miembro de la organización identifica aspectos del Sistema de SST que pueden provocar No Conformidades. El proceso para iniciar acciones preventivas es el mismo que en caso de las acciones correctivas con la salvedad de que no hay una No Conformidad </div> 
                <div><strong>-	Desarrollo y cierre de las acciones preventivas</strong></div> 
                <div>Los métodos y criterios para el desarrollo y cierre de las acciones preventivas es análogo al de las acciones correctivas.</div> 
            </td>
            <td style="border:1px solid black; width: 10%;padding: 10px;text-align:justify;">
                <div>Responsable  SG SST</div> 
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
<br>
</div>