<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div><br></div>
    <div>
        <strong>1. OBJETIVO:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Implementar un procedimiento para el reporte de actos y condiciones inseguras que permita establecer mecanismos de identificación, reporte e investigación, para corregir sistemáticamente los factores de riesgo que los producen, con el fin de mejorar las condiciones de salud y trabajo de <strong><%= @entity.business_name if @entity.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2.  OBJETIVOS ESPECIFICOS:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>* Contar con un formato para la identificación, reporte, investigación, control y seguimiento de los factores de riesgo generadores de accidentes laborales.</p>
                <p>* Crear la necesidad y/o hábito de reportar los actos y condiciones inseguras. </p>
                <p>* Crear conciencia de seguridad y prevención en todos los niveles de la Empresa. </p>
                <p>* Disminuir los índices de frecuencia y severidad de los accidentes.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3.  DEFINICIONES:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Actos inseguros: </strong>Se refieren a todas las acciones y decisiones humanas, que pueden causar una situación insegura o incidente, con consecuencias para el trabajador, la producción, el medio ambiente y otras personas. También el comportamiento inseguro incluye la falta de acciones para informar o corregir condiciones inseguras. Los actos inseguros OCASIONAN EL 96% DE LOS ACCIDENTES.</p>
                <p><strong>Condiciones peligrosas: </strong>Es todo elemento de lo equipos, la materia prima, las herramientas, las máquinas, las instalaciones o el medio ambiente que se convierte en un peligro para las personas, los bienes, la operación y el medio ambiente y que bajo determinadas condiciones puede generar un ACCIDENTE.</p>
                <p><strong>Incidente: </strong>Suceso acaecido en el curso del trabajo o en relación con este, que tuvo el potencial de ser un accidente, en el que hubo personas involucradas sin que sufrieran lesiones o se presentaran daños a la propiedad y/o pérdidas en los procesos. “Son los casi accidentes”.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <div>
        <strong>4. CONDICIONES GENERALES:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Es responsabilidad de la Alta Dirección, con la coordinación del responsable de Seguridad y Salud en el Trabajo realizar la promoción, registro, investigación, verificación y seguimiento de los reportes con la participación activa del Comité Paritario de Seguridad y Salud en el trabajo y los trabajadores.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <div>
        <strong>4.1 RESPONSABLES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Alta Dirección  </strong></p>
                <p>* Cumplir y hacer cumplir los procedimientos y estándares de trabajo seguro, establecidos por la Empresa, resultante de los reportes de incidentes, condiciones y actos inseguros.</p>
                <p>* Destinar presupuesto y apoyo a las acciones de prevención y control.</p>
                <p><strong>Coordinador de Seguridad y Salud en el Trabajo</strong></p>
                <p>* Acompañamiento en la implementación del procedimiento de incidentes, condiciones y actos inseguros.</p>
                <p>* Verificar el cumplimiento de las acciones y controles de los reportes de incidentes, condiciones peligrosas, actos inseguros.</p>
                <p>* Asegurar el seguimiento de los incidentes, condiciones peligrosas, actos inseguros.</p>
                <p><strong>Líderes de Procesos </strong></p>
                <p>* Facilitar la participación de todos los trabajadores en la identificación y reporte de incidentes, condiciones y actos inseguros.</p>
                <p>* Liderar el cumplimiento de las normas e instrucciones de trabajo seguro establecidos por la Empresa para evitar incidentes, condiciones y actos inseguros.</p>
                <p>* Motivar y fomentar la práctica de procedimientos seguros de trabajo.</p>
                <p>* Participar activamente en las acciones y controles de incidentes, condiciones y actos inseguros ocurridos en su área de responsabilidad.</p>
                <p>* Mantener comunicación constante con los trabajadores de su área para identificar incidentes, condiciones peligrosas, actos inseguros que puedan generar riesgos a la salud y al trabajo.</p>
                <p>* Participar en la implementación de las acciones de seguimiento y control definidas.</p>
                <p>* Reportar los incidentes, condiciones peligrosas, actos inseguros en las áreas locativas y de los trabajadores de su proceso.</p>
                <p><strong>Comité Paritario de Seguridad y Salud en el Trabajo (COPASST) </strong></p>
                <p>* Promocionar la participación de todos los trabajadores en la información clara y eficaz para la búsqueda de soluciones sencillas y concretas que eviten y / o minimicen los riesgos</p>
                <p>* Ser puente activo en la búsqueda de soluciones reales que promuevan el mejoramiento de las condiciones de Seguridad y Salud en el Trabajo en toda la Empresa.</p>
                <p>* Acompañar en la verificación de incidentes, condiciones y actos inseguros que se presenten en la Empresa</p>
                <p><strong>Trabajadores de la Empresa </strong></p>
                <p>* Garantizar el cuidado integral de su salud y seguridad</p>
                <p>* Suministrar información clara, veraz y completa sobre su estado de salud</p>
                <p>* Cumplir las normas, procedimientos e instrucciones de trabajo.</p>
                <p>* Utilizar de forma adecuada y permanente los dispositivos de control y elementos de protección personal disponibles</p>
                <p>* Reportar de manera rápida a su jefe inmediato la ocurrencia de incidentes, condiciones y actos inseguros que se presente.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <div>
        <strong>4.2.  METODOLOGÍA PARA LA IMPLEMENTACIÓN DEL PROCEDIMIENTO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para conseguir el objetivo del procedimiento incidentes, condiciones y actos inseguros se recomiendan los siguientes pasos:</p>
                <p><strong>Compromiso gerencial: </strong>Comprometiendo a los diferentes niveles de la estructura de la Empresa en la responsabilidad que tiene para el logro de los objetivos del procedimiento de incidentes, condiciones peligrosas, actos inseguros.</p>
                <p><strong>Liderazgo y administración: </strong>Consiste en mantener un liderazgo efectivo, en la conducción del control en el procedimiento de incidentes, condiciones, actos inseguros de modo que se oriente, motive y aplique en toda la población, garantizando un total cumplimiento y éxito del reporte de incidentes, condiciones y actos inseguros.</p>
                <p><strong>Promoción y capacitación: </strong>Responsabilidad del coordinador del Sistema de Seguridad y Salud en el Trabajo en compañía de los líderes de proceso de la Empresa, realizando difusión en carteleras y comunicación personalizada. Además de la adición al programa de inducción y reinducción.</p>
                <p><strong>Notificación y registro procedimiento de incidentes, condiciones y actos inseguros: </strong>Consiste en el proceso mediante el cual el trabajador notifica a su jefe inmediato sobre la ocurrencia de incidentes, condiciones y actos inseguros para registrarlo y llevarlos a la oficina de SST.</p>
                <p><strong>Control y Seguimiento: </strong>Técnica que tiene por objetivo la reducción de los incidentes, condiciones peligrosas y actos inseguros.</p>
                <p><strong>Propuestas de intervención: </strong>Tiene como finalidad establecer medidas de control ante diferentes análisis de reportes de incidentes, condiciones y actos inseguros.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <div>
        <strong>4.3. INDICADORES DE IMPACTO:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los indicadores proporcionan un informe concreto sobre el cumplimiento del procedimiento del reporte de incidentes, condiciones y actos inseguros.</p>
                <p><strong>Proporción de medidas de control</strong></p>
                <p>Determina el porcentaje de cumplimiento de acuerdo a las acciones que se deben realizar para evitar la incidencia de nuevos casos, con respecto a las recomendaciones originadas de las medidas de control de incidentes, condiciones y actos inseguros reflejadas como un resultado positivo del procedimiento.</p>
                <p>Trazando como objetivo el cumplimiento del 100% sobre las acciones programadas</p>
                <p>Proporción de acciones implementadas = (Acciones realizadas / Acciones programadas) * 100</p>
                <p><strong>Índice de frecuencia de incidentes</strong></p>
                <p>Los resultados de una buena gestión del programa se reflejan en la disminución del número de incidentes de trabajo en la Empresa, el cual impactará positivamente en la merma de accidentalidad, productividad y costos, como un mejor bienestar y salud de los trabajadores (Ver procedimiento de investigación de incidentes)</p>
                <p>Índice de frecuencia = (No. de Incidentes por mes  / Total, trabajadores del mes) * 100</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <div>
        <strong>5.  DOCUMENTOS RELACIONADOS:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Formato digital reporte de actos y condiciones inseguras.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <div>
        <strong>6.  DETALLE DE ACTIVIDADES</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>6.1. PROCEDIMIENTO DE REPORTE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se debe contar con datos válidos, consistentes y uniformes que brinden información estadística confiable para enfocar adecuadamente los esfuerzos de prevención, se deben considerar los siguientes puntos:</p>
                <p>* Capacitar a todo el personal en que es un incidente, actos inseguros y condiciones inseguras y como diligenciar el formato para el reporte correspondiente.</p>
                <p>* Cuando ocurre un incidente, actos y condiciones inseguras el trabajador debe reportar de forma oportuna a su jefe inmediato o al profesional de SST.</p>
                <p>* La coordinación Sistema de Seguridad y Salud en el Trabajo, definirá la necesidad de investigación, medidas de control, verificación y seguimiento.</p>
                <p>* Los reportes se mantendrán en la coordinación del Sistema de Seguridad y Salud en el Trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <div>
        <strong>6.2. PROCEDIMIENTO DE CONSOLIDACIÓN:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>* A medida que se van presentando los incidentes, condiciones peligrosas, actos inseguros deben ser consolidados para disponer de la información necesaria a fin de realizar los controles del evento e investigaciones inmediatas y análisis necesarios.</p>
                <p>* El registro se realizará en un formato digital a través del software CONESST donde se anoten los datos básicos incidente, condiciones y actos inseguros.</p>
                <p>* Se llevará un control a través de matriz de actos y condiciones inseguras.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <div>
        <strong>6.3.  PROCEDIMIENTO CONTROL Y SEGUIMIENTO DE INCIDENTES, CONDICIONES Y ACTOS INSEGUROS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>* Las acciones e investigación se realizará lo más pronto posible, el paso del tiempo tiene dos efectos no deseados, los detalles de los hechos pueden ser olvidados o tienden a volverse similares por las conversaciones entre los involucrados, haciendo perder información vital e importante en las causas reales. </br> (Para incidentes ver procedimiento de investigación de accidentes e incidentes de trabajo)</p>
                <p>* Se realizara entrega de los reportes y las medidas de control sugeridas al área correspondiente para su ejecución.</p>
                <p>* En el comité paritario de Seguridad y Salud en el Trabajo, realizara seguimiento a las medidas de control realizadas, con el fin de verificar la efectividad en la implementación.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
<br>
</div>