<br>
<div class="container col-11" 
    <br>
    <h2 class="display-5"><%= t('.title') %></h2>
    <hr>
    <div class="container col-1">
        <% if @protection_element.present? %>
            <% if @protection_element.img_elem.attached? %>
                <% if @protection_element.img_elem.image? %> 
                    <%= image_tag @protection_element.img_elem, data: {previews_target: "preview"}, class: "image_peq" %>
                <% end %>
            <% else %> 
                <%= image_tag("avatar.jpg", class: "avatar-mini") %>
            <% end %>
        <% end %>     
    </div>

</div>    
<%= render 'form' %>  