<tr>
    <td><%= clasification_danger.name %></td>

    <td><%= link_to t('common.edit'), edit_clasification_danger_path(clasification_danger), class: 'btn btn-xs btn-primary'  %></td>
    <td><%= link_to t('common.edit_tipos'), clasification_danger_details_path(clasification_danger), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>