<tr>
    <td><%= risk_level.name %></td>
    <td><%= risk_level.description %></td>

    <td><%= link_to t('common.edit'), edit_risk_level_path(risk_level), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>
