<br>
<div class="container col-11" 
    <br>
    <h2 class="display-5"><%= t('.title') %></h2> 

    <td><%= link_to t('common.create_location'), new_location_path(params[:id]), class: 'btn btn-xs btn btn-primary' %></td>

    <hr>
</div>    
<%= render 'form' %>  
