<br>
<div class="container col-11" 
    <br>
    <div>
        <h2 class="display-5"><%= t('.title') %>
        <% if @entity.logo.present? then %>
            <%=  image_tag  @entity.logo, class: "image_peq" %>
        <% end %>
        </h2>
    </div>       


    <%= link_to t('common.create_location'), new_location_path(params[:id]), class: 'btn btn-xs btn btn-primary' %>


    <hr>
</div>    
<%= render 'form' %>  
