<tr>
    <td><%= detail_disease.id %></td>
    <td><%= highlight detail_disease.name, params.dig(:q, :name_cont) %></td>
    <td><%= detail_disease.table_disease.clasification_disease %></td>

    <td><%= link_to t('common.edit'), edit_detail_disease_path(detail_disease), class: 'btn btn-sm btn-primary' if Current.user.level > 0 &&  Current.user.level < 2 %></td>
    
</tr>