<div data-controller="alert" data-alert-dismiss-after-value="5000">
    <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <% if notice %>   
        <div class="alert alert-primary" role="alert"><%= notice %></div>
    <% end %>   
</div>    
