<div align="center"; class="container col-11">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #87AFEB;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <% if Current.user.level == 1 || Current.user.level == 2 %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Configuraciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="entities">Empresas</a></li>
                        <li><a class="dropdown-item" href="documents">Tipos de Documentos</a></li>
                        <li><a class="dropdown-item" href="users">Usuarios</a></li>
                        <li><a class="dropdown-item" href="economic_activity_codes">Actividad Económica</a></li>
                        <li><a class="dropdown-item" href="levels">Niveles</a></li>
                        <li><a class="dropdown-item" href="administrative_political_divisions">División Política Administrativa</a></li>
                        <li><a class="dropdown-item" href="occupational_risk_managers">ARL</a></li>
                        <li><a class="dropdown-item" href="pension_funds">Fondo de Pensiones</a></li>
                        <li><a class="dropdown-item" href="health_promoters">EPS</a></li>
                        <li><a class="dropdown-item" href="cessation_funds">Fondos de Cesantías</a></li>
                        <li><a class="dropdown-item" href="risk_levels">Nivel de Riesgo</a></li>
                        <li><a class="dropdown-item" href="cycles">Clasificación Ciclo PHVA</a></li>
                        <li><a class="dropdown-item" href="templates">Plantillas</a></li>
                        <li><a class="dropdown-item" href="indicators">Indicadores</a></li>
                        <li><a class="dropdown-item" href="clasification_dangers">Clasificación de Peligros y Riesgos</a></li>
                        <li><a class="dropdown-item" href="adm_calendars">Calendario</a></li>
                        <li><a class="dropdown-item" href="adm_exams">Administrar Evaluaciones</a></li>
                        <li><a class="dropdown-item" href="exam_questions">Preguntas Evaluaciones</a></li>
                        <li><a class="dropdown-item" href="allow_exams">Autorización Evaluaciones</a></li>
                        <li><a class="dropdown-item" href="contents/new">Crear Multimedia</a></li>
                        <li><a class="dropdown-item" href="survey_profiles">Administrar Encuesta Sociodemográfica</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Normatividad
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="rules">Normatividad</a></li>
                        <li><a class="dropdown-item" href="standars">Clasificaciones</a></li>
                        <li><a class="dropdown-item" href="standar_details">Estándares</a></li>
                        <li><a class="dropdown-item" href="standar_detail_items">Items</a></li>
                    </ul>
                </li>
            <% end %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Evaluación Inicial
                </a> 
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="evaluations">Evaluación Estándares Mínimos</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Informes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="meeting_minutes">Actas de Reuniones</a></li>
                    <li><a class="dropdown-item" href="matrix_legals">Matriz Legal</a></li>
                    <li><a class="dropdown-item" href="annual_work_plans">Matriz Plan de Trabajo Anual</a></li>
                    <li><a class="dropdown-item" href="matrix_danger_risks">Matriz de Peligros y Riesgos</a></li>
                    <li><a class="dropdown-item" href="matrix_corrective_actions">Matriz de Seguimiento de Acciones Correctivas Preventivas y de Mejora</a></li>
                    <li><a class="dropdown-item" href="trainings">Cronograma de Capacitaciones y Actividades</a></li>
                    <li><a class="dropdown-item" href="resources">Asignación de Recursos</a></li>
                    <li><a class="dropdown-item" href="unsafe_conditions">Reporte de Actos y Condiciones Inseguras</a></li>
                    <li><a class="dropdown-item" href="complaints/new">Solicitud de Quejas</a></li>
                    <li><a class="dropdown-item" href="complaints/informe">Administración de Quejas</a></li>
                    <li><a class="dropdown-item" href="occupational_exams">Matriz de Seguimiento Exámenes Ocupacionales</a></li>
                    <li><a class="dropdown-item" href="description_jobs">Gestión de Cargos</a></li>
                    <li><a class="dropdown-item" href="profiles/show">Informe Estudio Sociodemográfico</a></li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="events">Novedades Empleados</a></li>
                    <li><a class="dropdown-item" href="report_officials">Registro Funcionarios</a></li>
                    <li><a class="dropdown-item" href="indicadores/resultado">Indicadores de Resultado</a></li>
                    <li><a class="dropdown-item" href="indicadores/resultadompr">Indicadores Matriz Peligros y Riesgos</a></li>
                    <li><a class="dropdown-item" href="indicadores/resultadoml">Indicadores Matriz Legal</a></li>
                    <li><a class="dropdown-item" href="indicadores/resultadoacpm">Indicadores Matriz de Seguimiento Acciones Correctivas Preventivas y de Mejora</a></li>
                    <li><a class="dropdown-item" href="indicadores/resultadompt">Indicadores Matriz Plan de Trabajo</a></li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Recursos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="exams">Evaluaciones</a></li>
                    <li><a class="dropdown-item" href="exams/historicos">Informe Evaluaciones</a></li>
                    <li><a class="dropdown-item" href="contents">Multimedia</a></li>
                    <li><a class="dropdown-item" href="profiles">Encuesta Sociodemográfica</a></li>

                </ul>
            </li>

          </ul>
        </div>
    </div>
  </div>   
</div>  
