<tr>
    <td><%= standar_detail.description %></td>
    <td><%= standar_detail.value %></td>
    <td><%= standar_detail.standar_id %></td>

    <td><%= link_to t('common.edit'), edit_standar_detail_path(standar_detail), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>