<div class="container col-5 card p-5">
    <br>

    <div class="col-sm-12 p-3 mb-4 bg-info text-dark"  >    
        <div class="row text-center">
            <h4>PELIGROS Y RIESGOS</h4>
        </div>    
        <table>
            <% @clasification_dangers.each do |clasification_danger| %> 
                <tr>
                    <td style="border:1px solid black;width: 70%;"> <%= clasification_danger.name %></td>
                    <td style="text-align:center;border:1px solid black;width: 20%;"> <%= link_to  t('common.show'), encuestapre_path(clasification_danger.id, @admin_extent_danger_id.to_i), class: 'btn btn-sm btn-info'%></td>
                </tr>
            <% end %>  
        </table>
    </div>
</div>        
<br>
