<tr>
    <td><%= type_condition_inspection.id %></td>
    <td><%= type_condition_inspection.name %></td>

    <td><%= link_to t('common.edit'), edit_type_condition_inspection_path(type_condition_inspection), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>