<tr>
    <td><%= company_position.id %></td>
    <td><%= company_position.name %></td>
    <td><%= company_position.entity.business_name %></td>

    <td><%= link_to t('common.edit'), edit_company_position_path(company_position), class: 'btn btn-sm btn-primary'  %></td>
</tr>