<tr>
    <td><%= legal_rule.risk_factor %></td>
    <td><%= LegalRule.label_clasification_norma(legal_rule.clasification_norma) %></td>

    <td><%= link_to t('common.edit'), edit_legal_rule_path(legal_rule), class: 'btn btn-sm btn-primary'  %></td>
</tr>
