<tr>
    <td><%= legal_rule.id %></td>
    <td><%= legal_rule.rule_name %></td>
    <td><%= legal_rule.clasification_norma %></td>

    <td><%= link_to t('common.edit'), edit_legal_rule_path(legal_rule), class: 'btn btn-sm btn-primary'  %></td>
</tr>
