<tr>
    <td><%= company_area.id %></td>
    <td><%= company_area.name %></td>
    <td><%= company_area.entity.business_name %></td>

    <td><%= link_to t('common.edit'), edit_company_area_path(company_area), class: 'btn btn-sm btn-primary'  %></td>
</tr>