<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11 card p-5"> 
    <h2 class="display-5"> Seleccionar los participantes: </h2>
</div>
<div class="container col-11 card p-5">
    <br>
    <%= form_tag seleccion_participantes_path, mefthod: :post do %>
        <%= select_tag :ids, options_from_collection_for_select(@users, :id, :name), multiple: true, class: 'form-control input-sm select2', :prompt  =>  '--Seleccione los usuarios--' %>
        <br>
        <%= submit_tag 'Crear participantes', :id => 'citar_participantes', :class => 'btn btn-sm btn-primary btn-block spin pull-right' %>
    <% end %>
</div> 
<br>
