<tr>
    <td><%= document.document_type %></td>
    <td><%= document.code %></td>
    <td><%= document.abbreviation %></td>

    <td><%= link_to t('common.edit'), edit_document_path(document), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>



