<div class="container col-11 card p-5">
    <h2 class="display-5"> Seleccionar los participantes: </h2>
</div>
<div class="container col-11 card p-5">
    <br>
    <%= form_tag seleccion_path, mefthod: :post do %>
        <%= select_tag :ids, options_from_collection_for_select(@users, :id, :name), multiple: true, class: 'form-control input-sm select2', :prompt  =>  '--Seleccione los usuarios--' %>
        <%= hidden_field_tag :activity_id, :value => @activity.id, class: "form-control" %>
        <br>
        <%= submit_tag 'Crear citación', :id => 'citaciones', :class => 'btn btn-sm btn-primary btn-block spin pull-right' %>
    <% end %>
</div> 
<br>

