<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11" 
    <br>
    <h2 class="display-5">INFORME SIMULACRO DE EMERGENCIAS</h2>
    <hr>
</div>    
<%= render 'form' %>  