

<!--index.html.erb-->
<h1>Rooms Index</h1>
<%= link_to "New Room", new_room_path, data: { turbo_frame: dom_id(Room.new) } %><br><br>
<div class="flex-container">
  <%= turbo_frame_tag Room.new %>
  <%= turbo_frame_tag "rooms" do %>
    <%= render @rooms %>
  <% end %>
</div>
