<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('common.name') %></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'level', collection: @levels  %>  
        </tbody>      
    </table>
    <%= link_to t('.create_level'), new_level_path  %>
</div>
