<tr>
    <td><%= indicator.name %></td>
    <td><%= indicator.description %></td>
    <td><%= link_to t('common.show'), indicator_path(indicator), class: 'btn btn-sm btn-primary'  %></td>
    <td><%= link_to t('common.edit'), edit_indicator_path(indicator), class: 'btn btn-sm btn-primary' if Current.user.level > 0 && Current.user.level < 3 %></td>
    
</tr>
