<tr>
    <td><%= indicator.name %></td>
    <td><%= indicator.description %></td>

    <td><%= link_to t('common.edit'), edit_indicator_path(indicator), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>
