//=require actiontext
@import "bootstrap"; 
@import "./actiontext.scss";



.image {
    width: 200px;
    height: auto;
}

.image-container {
    width: 200px;
    height: 200px;
}

.image_peq {
    width: 100px;
    height: auto;
}

.image_evaluacion {
    width: 600px;
    height: auto;
}

.avatar-mini{
    height: 70px;
    width: 70px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;    
  }
  
 .calendar {
    width: 120px;
    height: auto;
    text-align: right;
}  

.firma{

}