//=require actiontext
@import "bootstrap"; 
@import "./actiontext.scss";

@import url('https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css');

.image {
    width: 200px;
    height: auto;
}

.image_inv {
    width: 400px;
    height: auto;
}

.image-container {
    width: 200px;
    height: 200px;
}

.image_peq {
    width: 100px;
    height: auto;
}

.image_evaluacion {
    width: 300px;
    height: auto;
}

.avatar-mini{
    height: 70px;
    width: 70px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;    
  }
  .carita-mini{
    height: 30px;
    width: 30px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;    
  }

 .calendar {
    width: 60px;
    height: auto;
    text-align: right;
}  
 
.firmapdf{
    bottom: 10px;
    display: block;
    width: 170px;
}

.firmadiv {
    padding:0;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.firmatd {
  min-width: 235px;
  height: 100px;
  background-color: #433;
  border: 0px solid black;
  width: 33%;
  text-align: center;
}

#bodyencabezado {
    background-image: url("fondopag6.png");
    background-size: auto;
    background-repeat:no-repeat;
    background-position: top;
  }

.avatar-voto{
    height: 140px;
    width: 140px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;    
  }

.img-loguin{
    height: 400px;
    width: 400px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto; 
    max-inline-size: 100%;
    block-size: auto;
  }

.img-inc-loguin{
    height: 40px;
    width: 40px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;  
    max-inline-size: 100%;
    block-size: auto;
  }

.img-loguin-logo{
    height: 150px;
    width: 150px;
  }

.img-inc-pie{
    height: 20px;
    width: 20px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;  
    max-inline-size: 100%;
    block-size: auto;
  }

.img-logo_inicio{
    height: 150px;
    width: 150px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto; 
    max-inline-size: 100%;
    block-size: auto;
  }
