<br>
<div class="container col-11" 
    <br>
    <h4 style="text-align:center">MATRIZ DE SEGUIMIENTO DE ACTOS Y CONDICIONES INSEGURAS</h4>
    <hr>
    
    <br> 
 
    <% if params[:entity_id].present? %>
        <%= render 'matrix_condition' %> 
    <% else %>
        <%= form_with model: @entity, method: :get do |form| %>
            <div class="row g-2">
                <div class="col-sm-7">
                    <%= form.label :Entidad, style: "display: block" %>
                    <%= form.collection_select :entity_id, @entities.order(id: :asc), :id, :business_name, { prompt: '--Seleccionar Entidad--' },
                    { class: 'form-control input-sm select2' } %>
                </div>
            </div>    
            <br>    
            <button type="submit" class="btn btn-primary">Consultar</button>
        <% end %>

    <% end %>     
