<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5">Votaciones</h2>
            </div> 
        </div>
    <table class="table table-hover">
        <tbody>
            <% if   @adm_votes.present? %>
                <%    @adm_votes.each do |adm_vote| %>
                    <tr>
                        <td><%= adm_vote.titulo_vote %></td>
                        <td><%= link_to "Votar", validar_votacion_path(adm_vote.id), class: 'btn btn-sm btn-primary'  %></td>
                    </tr>
                <% end %>        
            <% end %>

        </tbody>      
    </table>
</div>




