<tr>
    <td><%= situation_condition.id %></td>
    <td><%= situation_condition.type_condition_inspection.name %></td>
    <td><%= situation_condition.name %></td>

    <td><%= link_to t('common.edit'), edit_situation_condition_path(situation_condition), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>