<br>
<div class="container col-12 card p-5">
    <br>
    <h2>Votos</h2>
    <hr>
    <% if @votos.present? %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Candidato</th>
                    <th scope="col">Fecha de votación</th>
                </tr>
            </thead>
            <tbody>
                <% @votos.each do |voto| %>
                    <tr>
                        <td><%= voto.candidate_vote.user.name %></td>
                        <td><%= voto.date_vote %></td>
                    </tr>
                <% end %>     
            </tbody>      
        </table>
    <% end %>     
    <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back %>
</div>
<br>    

 
