<div align="left"; class="container col-12">
    <br>
    <div class="d-flex">
        <div class="container">
            <h class="display-6">Asistentes</h>
        </div> 
    </div>
    <hr>
        
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Área / Proceso</th>
            </tr>
        </thead>
        <tbody>
            <% @meeting_attendees.each do |meeting_attendee| %>
                <tr>
                    <td><%= meeting_attendee.name %></td>
                    <td><%= meeting_attendee.post %></td>
                    <td><%= meeting_attendee.process_area %></td>
                </tr>
            <% end %>     
        </tbody>      
    </table>
</div>