<br>
<table>
    <tbody>
        <% @assistants.each do |firma| %>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <h5>__________________________________</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5><strong><%= firma.name %></strong></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5><%= firma.post %></h5>
                </div>
            </div>
            <% if  firma.user.level == 2 %>
                <div class="col-11">
                    <div class="row">
                        Licencia: <%= firm.user.license %>
                    </div>
                </div>
            <% end %>
            <br/>
        <% end %>
    </tbody>
</table>
